.article-tags-list {
  .tags-list {
    font-size: 0;
    text-align: left;
    margin: 0 -4px;
    li {
      display: inline-block;
      vertical-align: top;
      padding: 4px 4px;
      &.label {
        color: black;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        padding-right: 10px;
        @media #{$small-only} {
          padding-right: 8px;
        }
      }
      a {
        display: block;
        height: 26px;
        background: transparent;
        border: 1px solid #e1e1e1;
        text-decoration: none;
        padding: 0 20px;
        @extend %vertical;
        transition: all 0.1s ease 0s;
        &:hover {
          border-color: $blue;
          background: $blue;
          span {
            color: #fff;
          }
        }
        span {
          display: inline-block;
          vertical-align: middle;
          color: #212121;
          font-size: 13px;
          font-weight: 400;
          line-height: 1.2;
        }
      }
    }
  }
}