.recension-quote {
  position: relative;
  display: block;
  width: 100%;
  border: 2px solid $blue;
  background: #fff;
  padding: 0 0 0 29.3%;
  @media #{$small-only} {
    padding: 0 0;
  }
  .box-quote-rating {
    display: block;
    position: absolute;
    @include center(y);
    left: 0;
    width: 29.3%;
    text-align: center;
    font-size: 0;
    padding: 0 7px 3px 0;
    @media #{$small-only} {
      width: 100%;
      position: relative;
      left: inherit;
      transform: translateY(0);
      padding: 0 5px 15px 0;
    }
  }
  .recension-quote-rating {
    position: relative;
    width: 146px;
    height: 146px;
    display: inline-block;
    vertical-align: top;
    > span {
      color: $blue;
      font-size: 33px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      width: 70px;
      display: block;
      position: absolute;
      @include center(xy);
      padding: 7px 0 0 3px;
    }
  }
  .quote-body {
    position: relative;
    background: $blue;
    min-height: 140px;
    padding: 16px 20%;
    text-align: center;
    @media #{$small-only} {
      padding: 34px 20px 18px;
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 11px 16px 0;
      border-color: transparent $blue transparent transparent;
      display: block;
      position: absolute;
      @include center(y);
      left: -11px;
      @media #{$small-only} {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 18px 15px 18px;
        border-color: transparent transparent $blue transparent;
        transform: translateY(0) translateX(-50%);
        left: 50%;
        top: -15px;
      }
    }
    .quote {
      border: none!important;
      margin: 0 0 21px;
      padding: 0;
      @media #{$small-only} {
        margin: 0 0 34px;
      }
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
      .icon {
        font-size: 21px;
        color: #fff;
        margin-bottom: 11px;
        @media #{$small-only} {
          margin-bottom: 8px;
        }
      }
      p {
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
    .quote-footer {
      text-align: center;
      white-space: nowrap;
      font-size: 0;
      .field-user {
        display: inline-block;
        vertical-align: top;
        margin-right: 9px;
        a {
          display: inline-block;
          color: rgba(#fff,0.5);
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          text-decoration: none;
          transition: all 0.1s ease 0s;
          &:hover {
            color: rgba(#fff,0.8);
          }
        }
      }
      .field-date {
        display: inline-block;
        vertical-align: top;
        position: relative;
        color: rgba(#fff,0.5);
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        padding-left: 13px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 6px;
          left: 0;
          width: 4px;
          height: 4px;
          opacity: 0.4;
          background-color: white;
          border-radius: 50%;
        }
      }
    }
  }
}