.page-search {
  position: relative;
  z-index: 1;
  .page-search-top {
    padding: 40px 30px 0;
    background: #fff;
    @media #{$medium-mobile} {
      padding: 30px 10px 0;
    }
    .box-title {
      display: block;
      float: left;
      padding: 0 0 0;
      @media only screen and (max-width: 1100px) {
        width: 100%;
        float: none;
        margin-bottom: 15px;
      }
      .page-title {
        margin-bottom: 4px;
      }
      .page-description {
        color: rgba(#000,0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
      }
    }
    .search-form {
      display: block;
      float: right;
      width: 100%;
      max-width: 964px;
      padding: 7px 0 0;
      @extend %justify;
      @media #{$large-only} {
        max-width: 75%;
      }
      @media only screen and (max-width: 1100px) {
        max-width: 100%;
      }
      .form-group {
        display: inline-block;
        vertical-align: top;
        @media #{$small-only} {
          margin-bottom: 10px;
        }
        &.field-search {
          width: 100%;
          max-width: 330px;
          @media #{$large-only} {
            max-width: 250px;
          }
          @media #{$medium-mobile} {
            max-width: 100%;
          }
        }
        &.field-time {
          width: 100%;
          max-width: 162px;
          padding-top: 6px;
          @media #{$medium-mobile} {
            max-width: 250px;
          }
          @media #{$small-only} {
            max-width: 100%;
          }
        }
        &.field-group {
          width: 100%;
          max-width: 162px;
          padding-top: 6px;
          @media #{$medium-only} {
            max-width: 250px;
          }
          @media #{$small-only} {
            max-width: 100%;
          }
        }
        &.form-submit {
          padding-top: 10px;
          width: 100%;
          max-width: 184px;
          @media #{$large-only} {
            max-width: 120px;
          }
          @media #{$small-only} {
            max-width: 100%;
          }
          .btn {
            width: 100%;
            min-width: inherit;
            .help {
              font-size: 16px;
            }
          }
        }
      }
    }
    .line-search-info {
      clear: both;
      width: 100%;
      margin: 18px 0 0;
      background: #f2f2f2;
      text-align: center;
      color: rgba(#010101,0.8);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      padding: 18px 0;
      @media #{$small-only} {
        width: inherit;
        margin: 18px -10px 0;
        font-size: 14px;
        padding: 18px 10px;
      }
    }
  }
  .search-dark-list {
    background: #fff;
    padding: 0 30px 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 42px;
    @media #{$medium-mobile} {
      padding: 0 10px;
      margin-bottom: 30px;
    }
    li {
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid #e6e6e6;
      &:first-child {
        padding-top: 36px;
        @media #{$medium-mobile} {
          padding-top: 30px;
        }
      }
      &:last-child {
        padding-bottom: 48px;
        border-bottom: none;
        @media #{$medium-mobile} {
          padding-bottom: 30px;
        }
      }
    }
    .item-search-serial {
      max-width: 1118px;
      padding: 0;
      .field-img {
        @media #{$large-up} {
          width: 192px;
        }
      }
      h2 {
        padding-right: 80px;
      }
      .field-original-title {
        margin-bottom: 12px;
        padding-right: 80px;
      }
      .field-likes {
        display: block;
        position: absolute;
        right: 0;
        top: 4px;
      }
      .serial-info {
        @media #{$large-up} {
          margin-left: 192px;
          padding-left: 24px;
        }
        @media only screen and (max-width: 480px) {
          padding-left: 0;
        }
        .textailor {
          margin-bottom: 15px;
          @media #{$large-up} {
            width: 100%;
            max-width: 100%;
            height: 168px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .articles-list {
    padding: 0 30px;
    @media #{$medium-mobile} {
      padding: 0 10px;
    }
    li {
      @media #{$small-mobile} {
        width: 100%;
      }
    }
    .item-article-cart {
      .article-body {
        @media #{$large-up} {
          padding: 25px 17px 46px;
          min-height: 125px;
        }
        .article-title {
          @media #{$large-up} {
            min-height: 46px;
            max-height: 46px;
          }
        }
      }
    }
  }

  .page-content {
    padding-bottom: 50px;
    @media #{$medium-mobile} {
      padding-bottom: 40px;
    }
    @media #{$small-only} {
      padding-bottom: 20px;
    }
  }
  .box-pagination {
    padding: 30px 0;
    @media #{$small-only} {
      padding: 20px 0;
      margin: 0;
    }

  }
}