.page-all-news {
  position: relative;
  z-index: 1;
  .page-header {
    padding: 31px 30px 20px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    @media #{$medium-mobile} {
      padding: 30px 10px 20px;
    }
    @media #{$mobile-only-3} {
      padding: 30px 10px;
    }
    .page-title {
      display: block;
      float: left;
      margin: 0;
      padding: 9px 0 0;
      @media #{$medium-mobile} {
        padding-top: 10px;
      }
      @media #{$mobile-only-3} {
        width: 100%;
        float: none;
        margin-bottom: 10px;
        padding-top: 0;
      }
      @media #{$small-mobile} {

      }
    }
    .box-filter {
      display: block;
      float: right;
      @media #{$mobile-only-3} {
        float: none;
        width: 100%;
        font-size: 0;
      }
      .cuSelect {
        display: inline-block;
        vertical-align: top;
        &.serials {
          width: 156px;
          margin-right: 62px;
          @media #{$small-only} {
            margin-right: 40px;
          }
          @media #{$mobile-only-3} {
            width: 50%;
            margin-right: 0;
            padding-right: 10px;
          }
          @media #{$small-mobile} {
            width: 100%;
            padding-right: 0;
            margin-bottom: 15px;
          }
        }
        &.category {
          width: 172px;
          @media #{$mobile-only-3} {
            width: 50%;
            padding-left: 10px;
          }
          @media #{$small-mobile} {
            padding-left: 0;
            width: 100%;
          }
        }
      }
    }
  }
  .page-content {
    padding: 29px 30px 50px;
    @media #{$medium-mobile} {
      padding: 29px 10px 50px;
    }
    @media #{$small-only} {
      padding: 25px 10px 44px;
    }
  }
  .day-row {
    margin-bottom: 48px;
    @media #{$medium-mobile} {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 30px;
      @media #{$medium-mobile} {
        margin-bottom: 20px;
      }
      @media #{$small-only} {
        margin-bottom: 6px;
      }
    }
    .title {
      color: #010101;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
      margin: 0 0 13px;
      @media #{$medium-mobile} {
        
      }
      @media #{$small-only} {
        font-size: 18px;
      }
    }
  }
  .articles-list {
    @media #{$small-only} {
      font-size: 0;
      text-align: left;
      white-space: nowrap;
      overflow-x: scroll;
      margin: 0 -10px;
    }
    li {
      @media #{$small-only} {
        display: inline-block!important;
        float: none!important;
        width: 280px!important;
        vertical-align: top;
      }
    }
    .item-article-cart {
      @media #{$small-only} {
        max-width: 260px;
        width: 100%;
        white-space: normal;
      }
      .article-body {
        @media #{$large-up} {
          padding: 25px 17px 46px;
          min-height: 125px;
        }
        .article-title {
          @media #{$large-up} {
            min-height: 46px;
            max-height: 46px;
          }
        }
      }
    }
  }
  .btn-load-more {
    .btn {
      width: 100%;
    }
  }
  .box-pagination {
    padding: 29px 0;
    @media #{$small-only} {
      padding: 34px 0;
    }
  }
}