.page-all-reviews {
  position: relative;
  z-index: 1;
  .page-header {
    padding: 32px 30px 50px;
    background: #fff;
    @media #{$medium-mobile} {
      padding: 32px 10px 50px;
    }
    @media #{$small-only} {
      padding: 30px 10px 26px;
    }
    .page-title {
      display: block;
      float: left;
      margin: 0;
      padding: 8px 0 9px;
      @media #{$medium-mobile} {
        padding: 12px 0 12px;
      }
      @media #{$small-only} {
        width: 100%;
        margin-bottom: 16px;
        padding: 0 0;
      }
    }
    .block-search {
      position: absolute;
      right: 30px;
      top: 32px;
      left: 220px;
      @media #{$medium-mobile} {
        right: 10px;
        left: 180px;
      }
      @media #{$small-only} {
        position: relative;
        right: inherit;
        top: inherit;
        left: inherit;
      }
    }
  }
  .page-content {
    padding: 0 30px 50px;
    @media #{$medium-mobile} {
      padding: 0 10px 50px;
    }
    @media #{$small-only} {
      padding: 0 10px 44px;
    }
  }
  .recension-list {
    li {
      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }
  .btn-load-more {
    padding-top: 12px;
    @media only screen and (max-width: 500px) {
      padding-top: 10px;
    }
    .btn {
      width: 100%;
    }
  }
  .box-pagination {
    padding: 29px 0;
    @media #{$small-only} {
      padding: 34px 0;
    }
  }
}