.page-catalog {
  .page-header {
    position: relative;
    background: #fff;
    padding: 40px 30px 24px;
    border-bottom: 1px solid #e6e6e6;
    z-index: 11;
    @media #{$medium-mobile} {
      padding: 30px 10px 24px;
    }
    @media #{$small-only} {
      padding: 25px 10px 10px;
    }
    .box-title {
      display: block;
      float: left;
      padding: 0 0 0;
      @media only screen and (max-width: 1100px) {
        width: 100%;
        float: none;
        margin-bottom: 15px;
      }
      @media #{$small-only} {
        margin-bottom: 18px;
      }
      .page-title {
        margin-bottom: 4px;
      }
      .page-description {
        color: rgba(#000,0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        @media #{$small-only} {
          font-size: 14px;
        }
      }
    }
    .block-search {
      position: absolute;
      right: 30px;
      top: 44px;
      left: 340px;
      @media #{$medium-mobile} {
        right: 10px;
        top: 30px;
        left: 260px;
      }
      @media #{$small-only} {
        position: relative;
        right: inherit;
        top: inherit;
        left: inherit;
      }
    }
  }
  .page-content {
    padding: 30px 30px 44px;
    @media #{$medium-mobile} {
      padding: 25px 10px 44px;
    }
    @media #{$small-only} {
      padding: 22px 10px 38px;
    }
  }
  .serials-list {
    margin: 0 -10px;
    li {
      padding: 0 10px 41px;
      @media #{$medium-mobile} {
        padding: 0 10px 35px;
      }
      @media #{$small-only} {
        padding: 0 10px 25px;
      }
    }
  }
  .btn-load-more {
    .btn {
      width: 100%;
    }
  }
  .box-pagination {
    padding: 31px 0;
    @media #{$small-only} {
      padding: 34px 0;
    }
  }
  .page-content {
    .page-description {
      padding: 35px 0 45px;
      @media #{$medium-mobile} {
        padding: 25px 0 6px;
      }
    }
  }
}