# Add any directories, files, or patterns you don't want to be tracked by version control
/cache
/cgi-bin
/language
/thumbs
/uploads
/webstat
/work
.idea
node_modules/
bower_components/
.DS_Store
vue-prototype/