table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}

.hasDatepicker {
  margin: 0 auto 20px;
}

.ui-datepicker {
  margin: 0 auto;
  background: #1e4473;
  border-color: #1e4473!important;
  .ui-datepicker-header {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    .ui-datepicker-prev {
      border-radius: 50%;
      @extend %vertical;
      width: 25px;
      height: 25px;
      border: 1px solid transparent;
      top: 2px!important;
      left: 0!important;
      background: transparent!important;
      &:hover {
        background: transparent;
        border-color: #fff;
      }
      .ui-icon {
        display: none;
      }

      &:before {
        content: "\e904";
        @extend .icomoon;
        font-size: 15px;
        text-indent: -2px;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .ui-datepicker-next {
      border-radius: 50%;
      @extend %vertical;
      width: 25px;
      height: 25px;
      border: 1px solid transparent;
      top: 2px!important;
      right: 0!important;
      background: transparent!important;
      &:hover {
        background: transparent;
        border-color: #fff;
      }
      .ui-icon {
        display: none;
      }

      &:before {
        content: "\e905";
        @extend .icomoon;
        font-size: 15px;
        text-indent: 2px;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .ui-datepicker-calendar {
    background: transparent;
    tfoot, thead {
      background: transparent;
      th {
        color: #fff;
      }
    }
    tr.alt, tr.even, tr:nth-of-type(even) {
      background: transparent;
    }
    tbody {
      tr {
        td {
          vertical-align: middle;
          padding: 0;
          color: #fff!important;
          a {
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            border: 1px solid transparent;
            border-radius: 50%;
            text-align: center;
            background: transparent!important;
            line-height: 23px;
            padding: 0 0;
            font-size: 14px;
            color: #fff;
            background: 0 0!important;
            &:hover {
              border-color: rgba(#fff, 0.5);
            }
          }
          &.ui-datepicker-week-end {
            a {
              color: #8cb4d3;
            }
          }
        }
        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight {
          border: 1px solid transparent;
          background: transparent;
          color: #fff;
          a {
            color: #fff;
            border-color: #fff;
            &:hover {
              border-color: #fff;
            }
          }
        }
      }
    }
  }
}