.panel {
  background: transparent;
  margin: 0 0 0;
  padding: 0 0;
  .panel-heading {
    .panel-title {
      margin: 0 0;
      a {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 24px 0 15px 44px;
        font-family: $default;
        color: #1f373f;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        text-decoration: none;
        @media #{$small-only} {
          font-size: 14px;
          line-height: 1.5;
        }
        &:hover {
          span {
            border-bottom-color: $blue-hover;
          }
        }
        &:after {
          content: "\e92d";
          @extend .icomoon;
          font-size: 28px;
          color: #eb7977;
          display: block;
          position: absolute;
          left: 1px;
          top: 22px;
        }
        span {
          border-bottom: 1px dashed #96a1a5;
        }
        &.collapsed {
          &:hover {
            span {
              border-bottom-color: $blue-hover!important;
            }
          }
        }
        &:not(.collapsed) {
          span {
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
  .panel-collapse {
    .panel-body {
      position: relative;
      padding: 14px 0 0 44px;
      &:after {
        content: "\e92c";
        @extend .icomoon;
        font-size: 28px;
        color: #5987cd;
        display: block;
        position: absolute;
        left: 1px;
        top: 12px;
      }
      .content {
        position: relative;
        padding: 14px 20px;
        background: #f0f3f7;
        border-radius: 5px;
        > * {
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 20px;
          top: -14px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 12px 14px 12px;
          border-color: transparent transparent #f0f3f7 transparent;
        }
        p {
          color: #1f373f;
          font-size: 15px;
          font-weight: 300;
          line-height: 24px;
          margin-bottom: 15px;
          @media #{$small-only} {
            font-size: 14px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

.collapse-group {
  .collapse-title {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 34px 0 0;
    text-decoration: none;
    margin-bottom: 15px;
    &:after {
      content: $icon-solid-up;
      @extend .icomoon;
      font-size: 11px;
      color: #16242e;
      display: block;
      position: absolute;
      @include center(y);
      right: 0;
      width: 33px;
      text-align: center;
    }
    &[aria-expanded="false"] {
      &:after {
        content: $icon-solid-down;
      }
    }
    &:hover {
      span {
        border-bottom-color: transparent;
      }
    }
    span {
      color: #16242e;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.1;
      border-bottom: 1px solid #cccfd0;
    }
  }
}



.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}
.collapse {
  display: block!important;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.collapse.in {
  display: block;
  height: auto;
  visibility: visible;
}

