.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  max-width: 328px;
  padding: 1px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-break: auto;
  border: 2px solid #0083da;
  border-radius: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.13);
  @media #{$small-only} {
    font-size: 14px;
  }
  .popover-content {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #767272;
    @media #{$small-only} {
      font-size: 14px;
    }
    a {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      text-decoration: none;
      color: $blue;
      border-bottom: 1px solid rgba($blue,.5);
      transition: all 0.1s ease 0s;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
  &.error {
    border-color: #f33858;
    .popover-content {
      color: #f33858;
    }
  }
}
.popover.top {
  margin-top: -18px;
}
.popover.right {
  margin-left: 18px;
}
.popover.bottom {
  margin-top: 18px;
}
.popover.left {
  margin-left: -18px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: $blue;
  border-bottom-width: 0;
}
.popover.error.top > .arrow {
  border-top-color: #f33858;
}
.popover.top > .arrow:after {
  bottom: 3px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px!important;
  margin-top: -11px;
  border-right-color: $blue;
  border-left-width: 0;
}
.popover.error.right > .arrow {
  border-right-color: #f33858;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 3px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: $blue;
}
.popover.error.bottom > .arrow {
  border-bottom-color: #f33858;
}
.popover.bottom > .arrow:after {
  top: 3px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: $blue;
}
.popover.error.left > .arrow {
  border-left-color: #f33858;
}
.popover.left > .arrow:after {
  right: 3px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}


@media only screen and (max-width: 1190px) {
  .popover {
    &.right {
      //&.medium-top-right {
      //  right: 0!important;
      //  left: auto!important;
      //  bottom: 100%;
      //}
    }
  }
}