@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: .75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .25 !default;


@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url, false, false);
  }
  @else  {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else  {
    @return url($slick-font-path + $url);
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  outline: none!important;
  &:focus {
    outline: none;
  }

  .slick-loading & {
    //background: #fff url("../js/lib/slick-1.5.9/slick/ajax-loader.gif") center center no-repeat;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  outline: none!important;
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none!important;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  @include center(y);
  width: 50px;
  height: 50px;
  display: block;
  background: black;
  font-size: 0 !important;
  cursor: pointer;
  color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  overflow: hidden;
  text-align: center;
  line-height: 0;
  opacity: 1;
  z-index: 10;
  border: none;
  border-radius: 0;
  background: rgba(#000,0.7);
  transition: all 0.1s ease 0s;
  @extend %vertical;
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #fff;
    transition: all 0.1s ease 0s;
  }
  &:hover {
    outline: none;
    background: #000;
    color: #0083da;
    span {
      color: #0083da;
    }
  }
  &:focus {
    background: rgba(#000,0.7);
    color: #fff;
    span {
      color: #fff;
    }
    &:hover {
      background: #000;
      color: #0083da;
      span {
        color: #0083da;
      }
    }

  }
  &.slick-disabled {
    display: none!important;
    &:hover {
      background: rgba(#000,0.7);
      span {
        color: #fff;
      }
    }
  }
}
.slick-next {
  right: 0;
  span {
    text-indent: 3px;
  }
}
.slick-prev {
  left: 0;
  span {
    text-indent: -2px;
  }
}

.arrows-top-right {
  .slick-next {
    top: 52px;
    right: 0;
    transform: translateY(0);
    span {
      //text-indent: 3px;
    }
  }
  .slick-prev {
    left: inherit;
    right: 0;
    top: 0;
    transform: translateY(0);
    span {
      //text-indent: -2px;
    }
  }
}

.slick-vertical {
  .slick-prev,
  .slick-next {
    @include center(x);
    &:hover {
      span {
        color: red;
      }
    }
    span {
      color: blue;
    }
  }
  .slick-next {
    bottom: -10px;
    top: initial;
    @media only screen and (max-width: 920px) {
      bottom: 0;
    }
  }
  .slick-prev {
    top: -10px;
    @media only screen and (max-width: 920px) {
      top: 0;
    }
  }
}
.slick-dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  text-align: center;
  font-size: 0;
  z-index: 2;
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    button {
      position: relative;
      padding: 0;
      font-size: 0;
      outline: none;
      cursor: pointer;
      width: 9px;
      height: 9px;
      margin: 0;
      border: none;
      border-radius: 0;
      background: rgba(#fff,0.4);
      transition: all 0.1s ease 0s;
      &:hover {
        background: rgba(#fff,0.6);
      }
    }
    &.slick-active {
      button {
        background: rgba(#fff,1);
      }
    }
  }
}
.slick-slider {
  margin-bottom: 0;
}
