.zoomContainer {
  display: none;
  pointer-events: none;
  z-index: 20;
  @media #{$medium-mobile} {
    display: none!important;
  }
  .zoomLens {
    border: none!important;
    background: rgba(#fff,0.8)!important;
  }
  .zoomWindow {
    border: 1px solid #ced1d3!important;
  }
}

.zoomHover {
  .zoomContainer {
    display: block;
  }
}

