ul.pagination {
  display: inline-block;
  vertical-align: top;
  margin: 0 0;
  font-size: 0;
  text-align: center;
  width: 100%;
  li {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    color: $blue;
    float: none;
    margin: 0 3px;
    //@media #{$small-only} {
    //  margin: 0 3px;
    //}
    &:first-child {
      margin-left: 0;
      margin-right: 23px;
      @media #{$small-only} {
        margin-right: 22px;
      }
    }
    &:last-child {
      margin-right: 0;
      margin-left: 23px;
      @media #{$small-only} {
        margin-left: 22px;
      }
    }
    a {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      background-color: transparent;
      color: $blue;
      font-size: 18px;
      font-weight: 400;
      line-height: 36px;
      border: 2px solid transparent;
      text-align: center;
      margin: 0 0;
      padding: 0 0;
      text-decoration: none;
      transition: all 0.1s ease 0s;
      //@media #{$small-only} {
      //  width: 30px;
      //  height: 30px;
      //  font-size: 14px;
      //  line-height: 28px;
      //}
      &:hover {
        border-color: $blue;
        background: #fff;
      }
    }
    &.unavailable {
      &:hover {
        a {
          color: $blue;
        }
      }
      a {
        pointer-events: none;
        color: $blue;
        text-decoration: none;
      }
    }
    &.current {
      a {
        color: #fff;
        text-decoration: none;
        background-color: $blue;
        border-color: $blue;
        &.hover, &:focus {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    &.arrow {
      &.unavailable {
        a {
          color: #e6e6e6;
          text-decoration: none;
          background: transparent!important;
          &:hover, &:focus {
            color: #e6e6e6;
          }
        }
      }
      a {
        width: 36px;
        height: 36px;
        font-size: 0;
        text-decoration: none;
        @extend %vertical;
        line-height: 1;
        text-align: center;
        transition: all 0.1s ease 0s;
        border-color: $blue;
        background: #fff;
        //@media #{$small-only} {
        //  width: 30px;
        //  height: 30px;
        //}
        &:hover, &:focus {
          border-color: $blue;
          background: $blue;
          box-shadow: none;
          color: #fff;
        }
        > span {
          display: inline-block;
          vertical-align: middle;
          font-size: 11px;
          line-height: 1;
        }
      }
    }
    &:last-child {
      a {
        letter-spacing: -1px;
      }
    }
  }

}

.box-pagination {
  text-align: center;
  padding: 24px 0;
  @media #{$small-only} {
    margin: 0 -10px;
  }
}
