// colors
$dark: #000;
$orange: #ff8b00;
$blue: #0083da;
$green: #47bd62;

$yellow: #ffc900;
$yellow-light: #fdd774;
$green-light: #e9f2df;
$violet: #434051;

$red: #f43858;
$red-light: #ff9999;


// gradient


//social color
$odnoklassniki: #ed8109;
$vk: #507398;
$twitter: #77cbef;
$instagram: #c13584;
$fb: #5c77b8;
$google: #55494d;
$viber: #7e40bc;
$telegram: #60a8de;

/**/
$facebook_color: hsla(222, 47%, 40%, 1);
$twitter_color: hsla(198, 100%, 47%, 1);
$google_plus_color: hsla(8, 74%, 53%, 1);
$vk_color: #45668e;
$youtube: #f61c0d;


// fonts

$default: 'PT Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$lifehack: 'Lifehack Basic', sans-serif;

//icons
$icon-logo_vertikal: "\e983";
$icon-telegram: "\e981";
$icon-add: "\e95b";
$icon-tvguru-small: "\e982";
$icon-path-arrow-down: "\e97f";
$icon-fanserials: "\e980";
$icon-similar-path1: "\e97a";
$icon-similar-path2: "\e97b";
$icon-similar-path3: "\e97c";
$icon-similar-path4: "\e97d";
$icon-similar-path5: "\e97e";
$icon-smile: "\e979";
$icon-poll-path1: "\e976";
$icon-poll-path2: "\e977";
$icon-poll-path3: "\e978";
$icon-time-path1: "\e972";
$icon-time-path2: "\e973";
$icon-time-path3: "\e974";
$icon-time-path4: "\e975";
$icon-collection-path1: "\e96d";
$icon-collection-path2: "\e96e";
$icon-collection-path3: "\e96f";
$icon-collection-path4: "\e970";
$icon-collection-path5: "\e971";
$icon-bookmark: "\e96c";
$icon-new-path1: "\e964";
$icon-new-path2: "\e965";
$icon-new-path3: "\e966";
$icon-new-path4: "\e967";
$icon-new-path5: "\e968";
$icon-new-path6: "\e969";
$icon-new-path7: "\e96a";
$icon-new-path8: "\e96b";
$icon-bounce-right: "\e962";
$icon-bounce-left: "\e963";
$icon-preview-path1: "\e95c";
$icon-preview-path2: "\e95d";
$icon-preview-path3: "\e95e";
$icon-preview-path4: "\e95f";
$icon-preview-path5: "\e960";
$icon-preview-path6: "\e961";
$icon-upload: "\e95a";
$icon-camera: "\e958";
$icon-video: "\e959";
$icon-answer: "\e957";
$icon-pocket: "\e956";
$icon-user: "\e955";
$icon-play: "\e954";
$icon-about-serial-path1: "\e932";
$icon-about-serial-path2: "\e933";
$icon-about-serial-path3: "\e934";
$icon-about-serial-path4: "\e935";
$icon-about-serial-path5: "\e936";
$icon-about-serial-path6: "\e937";
$icon-about-serial-path7: "\e938";
$icon-about-serial-path8: "\e939";
$icon-about-serial-path9: "\e93a";
$icon-about-serial-path10: "\e93b";
$icon-news-path1: "\e93c";
$icon-news-path2: "\e93d";
$icon-news-path3: "\e93e";
$icon-news-path4: "\e93f";
$icon-news-path5: "\e940";
$icon-news-path6: "\e941";
$icon-news-path7: "\e942";
$icon-review-path1: "\e943";
$icon-review-path2: "\e944";
$icon-review-path3: "\e945";
$icon-schedule-path1: "\e946";
$icon-schedule-path2: "\e947";
$icon-schedule-path3: "\e948";
$icon-schedule-path4: "\e949";
$icon-schedule-path5: "\e94a";
$icon-schedule-path6: "\e94b";
$icon-schedule-path7: "\e94c";
$icon-schedule-path8: "\e94d";
$icon-schedule-path9: "\e94e";
$icon-trailer-path1: "\e94f";
$icon-trailer-path2: "\e950";
$icon-trailer-path3: "\e951";
$icon-trailer-path4: "\e952";
$icon-trailer-path5: "\e953";
$icon-tvguru: "\e92f";
$icon-imdb: "\e930";
$icon-kinopoisk: "\e931";
$icon-filter-path1: "\e92c";
$icon-filter-path2: "\e92d";
$icon-filter-path3: "\e92e";
$icon-logo-path1: "\e925";
$icon-logo-path2: "\e926";
$icon-logo-path3: "\e927";
$icon-logo-path4: "\e928";
$icon-logo-path5: "\e929";
$icon-logo-path6: "\e92a";
$icon-logo-path7: "\e92b";
$icon-like-stroke: "\e924";
$icon-bold-down: "\e922";
$icon-bold-up: "\e923";
$icon-facebook: "\e921";
$icon-comment-1: "\e91f";
$icon-comment-stroke-1: "\e920";
$icon-arrow-result: "\e919";
$icon-finger-down: "\e91a";
$icon-finger-up: "\e91b";
$icon-quotes: "\e91c";
$icon-arrow-right: "\e91d";
$icon-arrow-left: "\e91e";
$icon-arrow-down: "\e917";
$icon-arrow-up: "\e918";
$icon-arrow-light-down: "\e90f";
$icon-arrow-light-up: "\e910";
$icon-arrow-light-right: "\e911";
$icon-arrow-light-left: "\e912";
$icon-close-light: "\e913";
$icon-close: "\e914";
$icon-view: "\e915";
$icon-like: "\e916";
$icon-all-review-path1: "\e907";
$icon-all-review-path2: "\e908";
$icon-all-review-path3: "\e909";
$icon-all-review-path4: "\e90a";
$icon-all-review-path5: "\e90b";
$icon-notice: "\e90c";
$icon-comment: "\e90d";
$icon-bookmarks: "\e90e";
$icon-search: "\e900";
$icon-login: "\e901";
$icon-instagram: "\e902";
$icon-odnoklassniki: "\e903";
$icon-twitter: "\e904";
$icon-vk: "\e905";
$icon-youtube: "\e906";