.block-share-friends {
  .label {
    color: #7f7f7f;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 16px 0 0 30px;
    margin-bottom: 10px;
  }
  .share-list {
    width: 100%;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      &:last-child {
        a {
          border-right: 1px solid #e6e6e6;
        }
      }
      a {
        display: block;
        width: 100%;
        height: 41px;
        @extend %vertical;
        color: #e6e6e6;
        border-left: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        transition: all 0.1s ease 0s;
        &:hover {
          color: #fff;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 18px;
        }

        &.vk {
          &:hover {
            border-color: $vk_color;
            background: $vk_color;
          }
        }
        &.od {
          &:hover {
            border-color: $odnoklassniki;
            background: $odnoklassniki;
          }
        }
        &.facebook {
          &:hover {
            border-color: $facebook_color;
            background: $facebook_color;
          }
        }
        &.twitter {
          &:hover {
            border-color: $twitter_color;
            background: $twitter_color;
          }
        }
      }
    }
  }
}