.block-poll {
  padding: 10px 0 23px;
  .block-header {
    position: relative;
    padding: 0 0 12px;
    .block-title {
      color: rgba(#000,0.89);
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      margin: 0 0 0;
      padding: 0 88px 0 0;
      @media #{$small-only} {
        font-size: 22px;
      }
      @media #{$mobile-only-3} {
        padding: 0 0;
      }
    }
    .label {
      display: block;
      position: absolute;
      right: 0;
      top: 6px;
      color: rgba(#424242,0.9);
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      padding: 0 0 0 34px;
      @media #{$mobile-only-3} {
        display: none;
      }
      .icon-poll {
        display: block;
        position: absolute;
        @include center(y);
        left: 0;
        font-size: 28px;
      }
    }
  }

  form {
    .form-group {
      margin-bottom: 0;
    }
    .field-radio {
      padding: 0 0;
      margin: 0 0 10px;
      &:last-child {
        margin-bottom: 0;
      }
      input[type="radio"] {
        &:checked {
          + label {
            &:after {
              border-color: #0485db;
              @media only screen and (min-width: 1025px) {
                transform: scale(0)!important;
              }
            }
            &:before {
              @media only screen and (min-width: 1025px) {
                transform: scale(0)!important;
              }
            }
          }
        }
        + label {
          color: rgba(#000,0.8);
          font-size: 16px;
          font-weight: 400;
          line-height: 1.4;
          width: 100%;
          padding: 14px 20px 14px 48px;
          background: #f0f8ff;
          transition: all 0.1s ease 0s;
          @media #{$small-only} {
            padding: 9px 10px 9px 38px;
          }
          &:hover {
            background-color: #d2eafe;
            box-shadow: 0 3px 13px rgba(0, 0, 0, 0.11);
            &:after {
              border-color: #0485db;
            }
            &:before {
              transform: scale(1);
            }
          }
          &:after {
            left: 21px;
            top: 17px;
            width: 16px;
            height: 16px;
            background-color: white;
            border-color: #9bd2fc;
            transition: all 0.15s linear 0s;
            @media #{$small-only} {
              top: 12px;
              left: 12px;
            }
          }
          &:before {
            left: 25px;
            top: 21px;
            width: 8px;
            height: 8px;
            background-color: #0485db;
            transform: scale(0);
            opacity: 1;
            transition: all 0.15s linear 0s;
            @media #{$small-only} {
              top: 16px;
              left: 16px;
            }
          }
        }
      }
    }
  }

  .results-wrapper {
    .poll-results {
      padding-bottom: 12px;
      .answer-item {
        position: relative;
        margin: 0 0 10px;
        height: 50px;
        background-color: #f0f8ff;
        @media #{$small-only} {
          height: 40px;
        }
        .label {
          display: block;
          position: absolute;
          @include center(y);
          left: 22px;
          right: 90px;
          color: rgba(#000,0.8);
          font-size: 16px;
          font-weight: 400;
          line-height: 1.4;
          z-index: 1;
          @media #{$small-only} {
            left: 16px;
            right: 66px;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .field-total {
      font-size: 16px;
      line-height: 24px;
      color: #626161;
      font-weight: 400;
      strong {
        color: #010101;
        font-weight: 700;
      }
    }
  }
}