.block-comment-form {
  padding: 0 0 24px;
  @media #{$small-only} {
    padding: 0 0 19px;
  }
  .block-title {
    margin-bottom: 16px;
    @media #{$small-only} {
      font-size: 18px;
    }
  }
  form {
    .form-group {
      margin-bottom: 22px;
      @media #{$small-only} {
        margin-bottom: 11px;
      }
      .form-field {
        margin-bottom: 0;
        position: relative;
        &.error {
          textarea {
            border-color: #f33858
          }
          .error-message {
            display: block;
          }
        }
        .error-message {
          position: absolute;
          background: #fefefe;
          left: 1px;
          top: 1px;
          right: 1px;
          bottom: 1px;
          padding: 17px 17px 17px 51px;
          pointer-events: none;
          .icon-error {
            left: 17px;
            top: 17px;
          }
        }
        .popover-btn {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          cursor: text;
          background: transparent;
          + .popover {
            top: 0!important;
            left: 100% !important;
            min-width: 328px;
            @media only screen and (max-width: 1190px) {
              left: auto!important;
              right: 0!important;
              top: auto!important;
              bottom: 100%!important;
              margin: 0 0 18px;
            }
            @media #{$small-only} {
              max-width: 100%;
              min-width: 100%;
            }
            > .arrow {
              @media only screen and (max-width: 1190px) {
                left: auto!important;
                right: 77px;
                top: auto;
                bottom: -11px;
                margin: 0 -11px 0 0px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 11px 11px 0 11px;
                border-color: $blue transparent transparent transparent;
                @media #{$medium-mobile} {
                  right: 80px;
                }
                @media #{$small-only} {
                  right: 50%;
                }
              }
              &:after {
                @media only screen and (max-width: 1190px) {
                  bottom: 3px;
                  margin-left: -13px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 10px 10px 0 10px;
                  border-color: #fff transparent transparent transparent;
                }
              }
            }
            .popover-content {
              text-align: center;
            }
          }
        }
        .popover-btn-error {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;

          + .popover {
            top: 0!important;
            left: 100% !important;
            min-width: 328px;
            @media only screen and (max-width: 1190px) {
              left: auto!important;
              right: 0!important;
              top: auto!important;
              bottom: 100%!important;
              margin: 0 0 18px;
            }
            @media #{$small-only} {
              max-width: 100%;
              min-width: 100%;
            }
            > .arrow {
              @media only screen and (max-width: 1190px) {
                left: auto!important;
                right: 77px;
                top: auto;
                bottom: -11px;
                margin: 0 -11px 0 0px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 11px 11px 0 11px;
                border-color: $blue transparent transparent transparent;
                @media #{$medium-mobile} {
                  right: 80px;
                }
                @media #{$small-only} {
                  right: 50%;
                }
              }
              &:after {
                @media only screen and (max-width: 1190px) {
                  bottom: 3px;
                  margin-left: -13px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 10px 10px 0 10px;
                  border-color: #fff transparent transparent transparent;
                }
              }
            }
            &.error {
              > .arrow {
                @media only screen and (max-width: 1190px) {
                  border-color: #f33858 transparent transparent transparent;
                }
              }
            }
            .popover-content {
              text-align: center;
              padding: 12px 30px;
              .icon-error {
                display: block;
                position: absolute;
                left: 25px;
                top: 13px;
                width: 20px;
                height: 20px;
                background-color: #fff3f5;
                border: 1px solid #f43858;
                border-radius: 50%;
                text-align: center;
                line-height: 14px;
                @media #{$small-only} {
                  left: 24px;
                  top: 12px;
                }
              }
            }
          }
        }
      }
    }
    textarea {
      height: 198px;
      background-color: #fefefe;
      border: 1px solid #0083da;
      padding: 17px 17px;
      color: rgba(#010101,0.8);
      font-size: 16px;
      @media #{$small-only} {
        padding: 15px;
      }
    }
    .form-footer {
      padding-top: 0;
      margin-bottom: 0;
      .box-comment-rating {
        display: block;
        float: left;
        font-size: 0;
        white-space: nowrap;
        @media #{$small-only} {
          width: 100%;
          text-align: left;
        }
        .serial-comment-rating {
          display: inline-block;
          vertical-align: top;
          margin-left: -5px;
          margin-right: 22px;
          @media #{$small-only} {
            margin-right: 14px;
            margin-left: -2px;
          }
        }
        .current-user-rating {
          display: inline-block;
          vertical-align: top;
          font-size: 24px;
          font-weight: 700;
          line-height: 1;
          height: 42px;
          padding: 11px 0 0 0;
          color: #afddfc;
          @media #{$small-only} {
            padding: 0 0 0;
            font-size: 14px;
            height: 25px;
            line-height: 25px;
            min-width: 38px;
            text-align: right;
          }
          > span {
            color: $blue;
            &:after {
              content: '/';
            }
          }
        }
      }
      .box-submit {
        position: relative;
        display: block;
        float: right;
        padding: 4px 0 0 0;
        @media #{$small-only} {
          clear: both;
          float: none;
          padding: 20px 0 0 0;
          text-align: center;
        }
        .btn {
          width: 198px;
          @media only screen and (min-width: 1026px) and (max-width: 1200px) {
            width: 154px;
          }
          @media #{$medium-only} {
            width: 160px;
          }
          @media #{$small-only} {
            width: 100%;
          }
        }
        .popover {
          left: 100%!important;
          min-width: 328px;
          @media only screen and (max-width: 1190px) {
            left: auto!important;
            right: 0!important;
            top: auto!important;
            bottom: 100%!important;
            margin: 0 0 18px;
          }
          @media #{$small-only} {
            max-width: 100%;
            min-width: 100%;
            margin: 0 0 -2px;
          }
          > .arrow {
            @media only screen and (max-width: 1190px) {
              left: auto!important;
              right: 77px;
              top: auto;
              bottom: -11px;
              margin: 0 -11px 0 0px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 11px 11px 0 11px;
              border-color: $blue transparent transparent transparent;
              @media #{$medium-mobile} {
                right: 80px;
              }
              @media #{$small-only} {
                right: 50%;
              }
            }
            &:after {
              @media only screen and (max-width: 1190px) {
                bottom: 3px;
                margin-left: -13px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0 10px;
                border-color: #fff transparent transparent transparent;
              }
            }
          }
          .popover-content {
            text-align: center;
          }
        }
      }
    }
  }
}

.logined {
  .block-comment-form form .form-group .form-field .popover-btn {
    display: none;
  }

}