.block-fanserials-telegram {
  padding: 0 0 22px;
  //margin: 0 0 12px;
  //border-bottom: 1px solid #e6e6e6;
  @media #{$small-only} {
    padding-bottom: 30px;
    //margin-bottom: 15px;
  }
  .field-link {
    a {
      position: relative;
      display: block;
      height: 50px;
      background-color: #2e84dd;
      padding: 0 10px;
      overflow: hidden;
      @extend %vertical;
      transition: all 0.2s ease 0s;
      .icon-fanserials {
        font-size: 78px;
        opacity: 0.1;
        color: white;
        text-shadow: -13px 0 3px rgba(0, 0, 0, 0.47);
        display: block;
        position: absolute;
        @include center(xy);
        z-index: 0;
      }
      &:before {
        content: '';
        z-index: 0;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 2px solid #2e84dd;
        opacity: 0;
      }
      &:hover {
        background: transparent;
        .icon-fanserials {
          opacity: 0;
        }
        &:before {
          opacity: 1;
        }
        .help {
          color: #2e84dd;
        }
      }
      .help {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        padding: 0 0 1px;
        position: relative;
        z-index: 1;
        line-height: 1;
        .text {
          font-size: 18px;
          font-weight: 400;
          line-height: 1.2;
          &.desk {
            display: block;
            @media #{$small-only} {
              display: none;
            }
          }
          &.mob {
            display: none;
            @media #{$small-only} {
              display: block;
            }
          }

          .icon-telegram {
            display: inline-block;
            position: relative;
            top: 2px;
            padding: 1px;
          }
        }
      }
    }
  }
  .field-icon {
    padding: 10px 0 0;
    text-align: center;
    @media #{$small-only} {
      padding-top: 16px;
    }
    span {
      font-size: 18px;
      color: #2e84dd;
    }
  }
  .field-dropdown {
    .dropdown {
      text-align: center;
      > a {
        display: inline-block;
        padding: 0 0;
        height: auto;
        border-bottom: none;
        &:hover {

        }
        &:before {
          display: none;
        }
        .help {
          background: none;
        }
      }
      .dropdown-menu {
        width: 100%;
        max-width: 634px;
        background-color: white;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.14);
        top: 100%;
        @include center(x);
        padding: 31px 42px;
        margin-top: 21px;
        z-index: 10;
        @media #{$small-only} {
          padding: 26px 10px;
        }
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent #fff transparent;
          display: block;
          position: absolute;
          @include center(x);
          top: -10px;
        }
        .field-images {
          margin: 0 -14px 26px;
          font-size: 0;
          @media #{$small-only} {
            margin: 0 -10px 24px;
            overflow-x: scroll;
            white-space: nowrap;
          }
          .item {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding: 0 14px;
            @media #{$small-only} {
              padding: 0 10px;
              min-width: 246px;
            }
            img {
              width: 100%;
              box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
            }
          }
        }
      }
    }
  }
}

.block-fanserials-online {
  padding: 0 0 22px;
  .field-link {
    a {
      position: relative;
      display: block;
      height: 50px;
      background-color: #2e84dd;
      padding: 0 10px;
      overflow: hidden;
      @extend %vertical;
      transition: all 0.2s ease 0s;
      .icon-fanserials {
        font-size: 78px;
        opacity: 0.1;
        color: white;
        text-shadow: -13px 0 3px rgba(0, 0, 0, 0.47);
        display: block;
        position: absolute;
        @include center(xy);
        z-index: 0;
      }
      &:before {
        content: '';
        z-index: 0;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 2px solid #2e84dd;
        opacity: 0;
      }
      &:hover {
        background: transparent;
        .icon-fanserials {
          opacity: 0;
        }
        &:before {
          opacity: 1;
        }
        .help {
          color: #2e84dd;
        }
      }
      .help {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        padding: 0 0 1px;
        position: relative;
        z-index: 1;
        .text {
          font-size: 18px;
          font-weight: 400;
          line-height: 1.2;
          padding: 0 0 0 44px;
          &.desk {
            display: block;
            @media #{$small-only} {
              display: none;
            }
          }
          &.mob {
            display: none;
            @media #{$small-only} {
              display: block;
            }
          }

          .icon-telegram {
            display: inline-block;
            position: relative;
            top: 2px;
            padding: 1px;
          }

          .icon-play {
            font-size: 28px;
            display: block;
            position: absolute;
            @include center(y);
            left: 0;
            padding: 1px;
            margin-top: -1px;
          }
        }
      }
    }
  }
}