.section-comments {
  background: #fff;
  // overflow: hidden;
  .content {
    padding: 42px 57px 54px 30px;
    @media #{$medium-mobile} {
      padding: 30px 10px 30px 10px;
    }
    @media #{$small-only} {
      padding: 44px 10px 36px 10px;
    }
  }
  .aside-right {
    border-left: none;
    @media #{$medium-mobile} {
      display: none;
    }
  }
}

.block-comments {
  background: #fff;
  .block-title {
    margin-bottom: 8px;
    @media #{$small-only} {
      font-size: 18px;
    }
  }
  .empty-comments {
    color: rgba(#000,0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 15px;
  }
  .field-status {
    padding: 34px 0 0;
    @media #{$small-only} {
      padding-top: 20px;
    }
  }
  .not-register {
    min-height: 50px;
    background: $blue;
    padding: 15px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #b4ddfd;
    @media #{$small-only} {
      font-size: 14px;
      padding: 18px 10px;
    }
    a {
      color: white;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .comments-header {
    position: relative;
    padding: 0 254px 0 0;
    margin-bottom: 19px;
    @media #{$small-only} {
      padding: 0 0;
      margin-bottom: 12px;
    }
    .comments-status {
      color: rgba(#000,0.5);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      @media #{$small-only} {
        width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
    .box-sort {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      @media #{$small-only} {
        position: relative;
        right: inherit;
        top: inherit;
      }
      .sort-by {
        font-size: 0;
        text-align: left;
        @media #{$small-only} {
          font-size: 0;
          text-align: justify;
          text-justify: newspaper;
        }
        &:after {
          content: "";
          height: 1px;
          margin-top: -1px;
          width: 100%;
          display: none;
          @media #{$small-only} {
            display: inline-block;
          }
        }
        li {
          display: inline-block;
          vertical-align: top;
          margin: 0 42px 0 0;
          color: rgba(#000,0.5);
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          border-bottom: 1px dashed rgba(#000,0.5);
          cursor: pointer;
          &:hover {
            border-bottom-color: $blue;
          }
          &.active {
            color: $blue;
            border-bottom-color: transparent;
            &:hover {
              border-bottom-color: transparent;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }


  #dle-comments-list {
    > .comm_level {
      // overflow: hidden;
      // overflow-x: hidden;
      // overflow-y: visible;
      @media #{$small-only} {
        overflow: visible;
      }
    }
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .comments-form-title {
      display: none;
    }
    // .comments-add-form {
    //   padding-bottom: 24px;
    // }
  }
  .comm_level {
    padding-left: 35px;
    @media #{$small-only} {
      padding-left: 16px;
    }
  }
  .commsone {
    width: 100%;
    position: relative;
    background-color: white;
    border: 1px solid #e1e1e1;
    padding: 16px 18px 14px;
    margin-bottom: 18px;
    @media #{$small-only} {
      padding: 12px 11px 4px;
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 8px 9px 0;
      border-color: transparent #e1e1e1 transparent transparent;
      display: block;
      position: absolute;
      @include center(y);
      left: -8px;
      pointer-events: none;
      @media #{$small-only} {
        border-width: 9px 7px 9px 0;
        left: -7px;
        top: 35px;
        transform: translateY(0);
      }
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 8px 9px 0;
      border-color: transparent #fff transparent transparent;
      display: block;
      position: absolute;
      @include center(y);
      left: -7px;
      pointer-events: none;
      @media #{$small-only} {
        border-width: 9px 7px 9px 0;
        left: -6px;
        top: 35px;
        transform: translateY(0);
      }
    }
    .tree-wrap {
      .comm_level_line {
        height: 6px;
        position: absolute;
        top: 50%;
        width: 1px;
        left: 0;
        margin-top: -3px;
        @media #{$small-only} {
          top: 43px;
          margin-top: 0;
          height: 3px;
        }
        .comm_level_dot {
          //display: none;
          height: 100%;
          position: absolute;
          right: 2px;
          top: 0;
          width: 40px;
          background-image: url('../images/dot.svg');
          background-size: 33px 6px;
          background-repeat: repeat-x;
          background-position: 0 0;
          @media #{$small-only} {
            background-size: 16px 3px;
            width: 35px;
            right: 0;
          }
        }
      }
    }
    &.first-level {
      .comm_level_line {
        display: none!important;
      }
    }

    &.deleted {
      padding: 4px 0!important;
      .comment {
        padding-bottom: 0!important;
      }
    }
  }

  .comment {
    padding: 0 0 0 85px;
    min-height: 63px;
    position: relative;
    @media #{$small-only} {
      min-height: 71px;
      padding-left: 48px;
      padding-bottom: 23px;
    }
    @media only screen and (max-width: 420px) {
      padding-bottom: 4px;
    }
    .comment-author-img {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 63px;
      @media #{$small-only} {
        width: 38px;
      }
      a {
        display: block;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .comment-info-top {
      font-size: 0;
      text-align: left;
      position: relative;
      //top: -4px;
      margin-bottom: 2px;
      .field-user {
        display: inline-block;
        vertical-align: top;
        margin-right: 9px;
        @media #{$small-only} {
          margin-right: 6px;
        }
        a {
          color: black;
          font-size: 16px;
          font-weight: 700;
          line-height: 19px;
          text-decoration: none;
          display: inline-block;
          transition: all 0.1s ease 0s;
          &:hover {
            color: $blue;
          }
        }
      }
      .field-date {
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: rgba(#7f7e7e,0.8);
        font-size: 13px;
        font-weight: 400;
        line-height: 19px;
        white-space: nowrap;
        padding: 0 0 0 14px;
        @media #{$small-only} {
          padding-left: 10px;
          line-height: 20px;
        }
        &:before {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          background: #bababa;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 7px;
          @media #{$small-only} {
            width: 4px;
            height: 4px;
          }
        }
        .date {
          margin-right: 9px;
          @media #{$small-only} {
            margin-right: 5px;
          }
        }
      }
      .field-link {
        font-size: 0;
        margin-bottom: 7px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        @media #{$small-only} {
          margin-bottom: 7px;
        }
        a {
          display: inline-block;
          vertical-align: top;
          color: #0083da;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
          text-decoration: none;
          &:hover {
            span {
              background-image: linear-gradient(to right, rgba($blue,0) 75%, rgba($blue,0) 75%);
            }
          }
          span {
            line-height: 20px;
            background-position: 0 15px;
            background-repeat: repeat-x;
            background-size: 1px 1px;
            background-image: linear-gradient(to right, rgba($blue,0.5) 75%, rgba($blue,0.5) 75%);
          }
        }
      }
    }
    .comment-text {
      color: rgba(#000,0.8);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 8px;
      @media #{$small-only} {
        font-size: 16px;
        line-height: 1.4;
      }
      a {
        color: $blue;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .comment-action-links {
      font-size: 0;
      white-space: nowrap;
      @media #{$small-only} {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        white-space: normal;
      }
      @media only screen and (max-width: 420px) {
        position: relative;
        margin: 12px 0 0 -50px;
        padding: 0 70px 0 0;
      }
      .reply-btn {
        display: inline-block;
        position: relative;
        margin-right: 36px;
        @media #{$small-only} {
          margin: 0 20px 0 0;
          position: initial;
        }
        @media only screen and (max-width: 420px) {
          float: none!important;
          display: inline-block!important;
          margin: 0 20px 4px 0;
        }
        .popover {
          min-width: 390px;
          @media #{$small-only} {
            width: auto;
            min-width: initial;
            max-width: initial;
            left: -12px!important;
            right: -12px!important;
            top: 100%!important;
            bottom: auto!important;
            margin: 18px 0 0 0;
          }
          @media only screen and (max-width: 420px) {
            margin: 8px 0 0 0;
            left: -10px!important;
          }
          &.right {
            > .arrow {
              @media #{$small-only} {
                left: 40px!important;
                top: 0!important;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 11px 11px 11px;
                border-color: transparent transparent $blue transparent;
              }
              &:after {
                @media #{$small-only} {
                  left: -10px;
                  top: 3px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 10px 10px 10px;
                  border-color: transparent transparent #fff transparent;
                }
              }
            }
          }
          .popover-content {
            text-align: center;
          }
        }
      }
      .reply-com,
      .reply-not-login {
        display: inline-block;
        position: relative;
        color: $blue;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-decoration: none;
        padding: 0 0 0 17px;
        @media #{$small-only} {
          display: block;
          float: left;
        }
        @media only screen and (max-width: 420px) {
          float: none!important;
          display: inline-block!important;
          margin: 0 20px 4px 0;
        }
        &:hover {
          &:before {
            color: $blue;
          }
          &:after {
            opacity: 1;
          }
        }
        &:before {
          content: $icon-answer;
          @extend .icomoon;
          font-size: 12px;
          color: #b5ddfd;
          display: block;
          position: absolute;
          top: 4px;
          left: 0;
          transition: all 0.1s ease 0s;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 1px;
          left: 17px;
          right: 0;
          bottom: 2px;
          background: rgba($blue,0.5);
          opacity: 0;
          transition: all 0.1s ease 0s;
        }
      }
      .reply-com {
        margin-right: 32px;
        @media #{$small-only} {
          margin-right: 20px;
        }
      }
      .edit-com {
        @media #{$small-only} {
          margin-right: 20px!important;
        }
        @media only screen and (max-width: 420px) {
          float: none!important;
          display: inline-block!important;
          margin: 0 20px 4px 0!important;
        }
      }
      .delete-com {
        @media #{$small-only} {
          margin-right: 20px!important;
        }
        @media only screen and (max-width: 420px) {
          float: none!important;
          display: inline-block!important;
          margin: 0 20px 4px 0!important;
        }
      }
      .comment-rating {
        display: inline-block;
        position: relative;
        padding: 0 16px;
        @media #{$small-only} {
          display: block;
          float: right;
          margin-right: -3px;
        }
        @media only screen and (max-width: 420px) {
          position: absolute;
          right: 0;
          top: 0;
        }
        .comment-current-rating {
          color: #5a5a5a;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          text-align: center;
          padding: 0 6px;
          min-width: 30px;
          &.negative {
            color: #ea3556;
          }
          &.positive {
            color: #47bd62;
          }
        }
        a {
          width: 16px;
          height: 16px;
          display: block;
          position: absolute;
          @include center(y);
          text-decoration: none;
          color: rgba(#000,0.5);
          transition: all 0.1s ease 0s;
          @extend %vertical;
          &:hover {
            color: $blue;
          }
          > span {
            display: inline-block;
            vertical-align: middle;
            font-size: 8px;
            color: inherit;
            transition: all 0.1s ease 0s;
          }
          &.down-rating {
            left: 0;
          }
          &.up-rating {
            right: 0;
          }
        }
      }
    }
  }

  .addcomments {
    .block-title {
      margin: 30px 0 18px;
      &:first-child {
        margin-top: 0;  
      }
    }
  }
  .comments-add-form {
    position: relative;
    padding: 0 0 0 82px;
    @media #{$small-only} {
      padding-left: 48px;
    }
    .commentator-avatar {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 69px;
      @media #{$small-only} {
        width: 38px;
      }
    }
    textarea {
      margin: 0 0 15px;
      @media #{$small-only} {
        height: 212px;
        margin-bottom: 10px;
      }
    }
    .comment-action-links {
      margin-bottom: 15px;
      @include MQ(1025px) {
        margin-bottom: 0;
      }
      @media #{$small-only} {
        margin: 0 0 12px;
      }
      @media #{$mobile-only-1} {
        margin: 0 0 12px 0;
      }
      .box-fields {
        width: 100%;
        font-size: 0;
        text-align: left;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;
        @include MQ(1025px) {
          width: 55%;
          justify-content: flex-start;
        }
        @media #{$small-only} {
          width: 100%;
          margin-bottom: 0;
          font-size: 0;
          text-align: left;
          padding-bottom: 9px
          // margin-left: -10px;
          // margin-right: -10px;
          // text-justify: newspaper;
        }
        @include MQ(1025px) {
          margin-left: -15px;
          margin-right: -15px;
        }
        @media only screen and (max-width: 420px) {
        
        }
        // &:after {
        //   content: "";
        //   height: 1px;
        //   margin-top: -1px;
        //   width: 100%;
        //   display: none;
        //   @media #{$small-only} {
        //     display: inline-block;
        //   }
        // }
        > a {
          display: inline-block;
          text-decoration: none;
          vertical-align: top;
          height: 40px;
          padding: 0 20px;
          //margin-right: 20px;
          margin: 0 0 0 0;
          display: flex;
          align-items: center;
          @extend %vertical;
          @media #{$small-only} {
            height: 30px;
            margin-right: 0;
            padding-left: 10px;
            padding-right: 10px
          }
          @include MQ(1025px) {
            padding: 0 15px;
          }
          &:hover {
            .help {
              color: $blue;
              [class*=" icon-"], [class^=icon-] {
                color: $blue;
              }
            }
          }
            // display: inline-block;
            // vertical-align: middle;
            // padding: 0 0 0 33px;
            // position: relative;
            // color: rgba(#000,0.5);
            // font-size: 12px;
            // font-weight: 400;
            // line-height: 1.2;
            // transition: all 0.1s ease 0s;
          [class*=" icon-"], [class^=icon-] {
            display: block;
            // position: absolute;
            // @include center(y);
            // left: 0;
            font-size: 20px;
            color: #dfdfdf;
            transition: all 0.1s ease 0s;
          }
          .icon-smile {
            font-size: 23px;  
          }
          &.addphoto {
            //margin-right: 32px;
            @media #{$large-only} {
              //margin-right: 20px;
            }
            @media #{$small-only} {
              margin-right: 0;
            }
            @media only screen and (max-width: 420px) {
              // order: 0;
              // margin-right: 10px;
            }
            + a {
              @media only screen and (max-width: 420px) {
                // order: 2;
              }
            }
          }
        }
        .block-smiles {
          display: inline-block;
        }
      }
      .box-actions {
        display: block;
        //float: left;
        width: 100%;
        font-size: 0;
        padding: 5px 0 0 0;
        @media #{$small-only} {
          float: none;
          clear: both;
          width: inherit;
          margin: 0 -5px;
        }
        @media only screen and (max-width: 420px) {
          margin: 0 0;
        }
        .btn {
          vertical-align: top;
          margin-right: 20px;
          min-width: 200px;
          @media #{$large-only} {
            min-width: 160px;
          }
          @media #{$small-only} {
            min-width: calc(50% - 10px);
            margin: 0 5px;
          }
          @media only screen and (max-width: 420px) {
            min-width: 100%;
            margin: 0 0 10px;
          }
          &.removeReply {
            min-width: 120px;
            margin-right: 0;
            @media #{$large-only} {
              min-width: 90px;
            }
            @media #{$small-only} {
              min-width: calc(50% - 10px);
              margin: 0 5px;
            }
            @media only screen and (max-width: 420px) {
              min-width: 100%;
              margin: 0 0 10px;
            }
          }
        }

      }

    }
  }
  #attach {
    font-size: 0;
    text-align: left;
    @media #{$mobile-only-1} {
      //margin: 0 0 0 -48px;
    }
    .preview-add-com {
      position: relative;
      display: inline-block;
      margin: 0 10px 10px 0;
      > img {
        width: 53px;
        @media #{$mobile-only-1} {
          width: 50px;
        }
      }
      .preview-remove {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 18px;
        height: 18px;
        padding: 3px;
        background: rgba($blue,0.7);
        text-align: center;
        transition: all 0.1s ease 0s;
        cursor: pointer;
        &:hover {
          background: rgba($blue,1);
        }
        &:after {
          content: $icon-close-light;
          @extend .icomoon;
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }

  &.theme-1 {
    padding-top: 16px;
    .comment {
      .comment-info-top {
        margin-bottom: 0;
        padding-right: 100px;
        @media #{$mobile-only-2} {
          padding-right: 0;
        }
        .field-date {
          padding-left: 0;
          &:before {
            display: none;
          }
        }
      }
      .comment-action-links {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        @media #{$small-only} {
          position: absolute;
          right: inherit;
          top: inherit;
          left: 48px;
        }
        .comment-rating {
          @media #{$small-only} {
            float: left;
            margin: 0 0 0 -3px;
          }
        }
      }
    }
  }
}

.page-cabinet {
  .block-comments {
    .comment {
      .comment-text {
        a {
          display: block;
          text-decoration: none;
          color: inherit;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

#modal-attach-photo,
#modal-attach-video {
  @extend %vertical;
  .modal-dialog {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    .modal-content {
      @media #{$medium-mobile} {
        padding: 30px 16px 30px;
      }
      .modal-header {
        .modal-title {
          @media #{$medium-mobile} {
            padding: 0 30px;
          }
        }
      }
    }
  }
  .form {
    .top {
      padding: 0 28px;
      margin-bottom: 24px;
      @media #{$small-only} {
        padding: 0;
      }
      input {
        text-align: center;
        &::-webkit-input-placeholder {
          color: rgba(#000, 0.5)
        }
        &::-moz-placeholder {
          color: rgba(#000, 0.5)
        }
        &:-ms-input-placeholder {
          color: rgba(#000, 0.5)
        }
        &:-moz-placeholder {
          color: rgba(#000, 0.5)
        }
        &:focus {
          text-transform: none;
          border-color: $blue;
          &::-webkit-input-placeholder {
            color: transparent
          }
          &::-moz-placeholder {
            color: transparent
          }
          &:-ms-input-placeholder {
            color: transparent
          }
          &:-moz-placeholder {
            color: transparent
          }
        }
      }
      .field-description {
        padding: 12px 0 0;
        color: rgba(#000,0.3);
        font-size: 13px;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
      }
    }
    .modal-action {
      position: relative;
    }
    .add-button-wrap {
      font-size: 16px;
      text-align: center;
      padding: 20px 0 0 0;
      display: inline-block;
      vertical-align: middle; 
      &--full {
        border-top: 1px solid #e8e8e8;
        width: 100%;
        text-align: left;
        @include MQ(768px) {
          text-align: center !important;
        }
      }   
      &--right {
        position: absolute;
        right: 0;
        @include MQ(768px) {
          margin-right: 28px; 
        }
      }   
      &--absolute {
        position: absolute;
        @include center(y);
        @include MQ(768px) {
          margin-left: 28px; 
        }
      }   
      .load {
        display: inline-block;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 22px;
        padding-right: 10px;
        
        cursor: pointer;
        &:hover {
          .text {
            border-bottom-color: transparent;
          }
        }
        .icon-upload {
          color: $blue;
          font-size: 16px;
          display: block;
          position: absolute;
          @include center(y);
          left: 0;
        }
        .text {
          color: $blue;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          border-bottom: 1px solid #7fc1ec;
        }
      }
    }
  }
  #loadimagecom {
    display: none;
  }
}

.block-smiles {
  .dropdown {
    > a {
      display: inline-block;
      vertical-align: top;
      height: 40px;
      padding: 0 0 0 0;
      margin-right: 0!important;
      margin-bottom: 10px;
      border: none;
      @extend %vertical;
      @media #{$small-only} {
        height: 30px;
      }
      &:hover {
        text-decoration: none;
        span {
          background-image: none;
        }
        .help {
          color: $blue;
          [class*=" icon-"], [class^=icon-] {
            color: $blue;
          }
        }
      }
      &:before {
        display: none!important;
      }
      .help {
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 33px;
        position: relative;
        color: rgba(#000,0.5);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.2;
        transition: all 0.1s ease 0s;
        [class*=" icon-"], [class^=icon-] {
          display: block;
          position: absolute;
          @include center(y);
          left: 0;
          font-size: 22px;
          color: #dfdfdf;
          transition: all 0.1s ease 0s;
        }
      }
    }
  }

  .dropdown-menu {
    padding: 18px 20px 18px;
    margin-bottom: 10px;
    top: inherit;
    left: 50%;
    right: inherit;
    width: 320px;
    bottom: 100%;
    transform: translateX(-50%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    @media #{$small-only} {
      left: inherit;
      right: 0;
      transform: translateX(0);
    }
    @media only screen and (max-width: 420px) {
      width: 252px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      bottom: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #fff transparent transparent transparent;
      @media #{$small-only} {
        left: inherit;
        right: 30px;
      }
    }
    .title {
      color: #a8a7a7;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      margin: 0 0 10px;
    }
  }
}

.cuScroll {
  .c-picker & {
    height: 210px;
    overflow: hidden;
    .mCSB_inside>.mCSB_container {
      margin-right: 24px;
    }
    .mCSB_scrollTools {
      width: 6px;
    }
    .mCSB_scrollTools .mCSB_draggerContainer {
      top: 0!important;
      bottom: 0!important;
    }
    .mCSB_scrollTools {
      opacity: 1!important;
      right: 0;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
      width: 6px;
      border-radius: 0;
      background: #d8d7d7!important;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background: #a8a7a7!important;
      width: 6px;
      border-radius: 0;
      &:hover {
        background-color: #a8a7a7;
      }
    }
    p {
      color: #000;
      font-size: 14px;
    }
    
  }
}