.episodes-schedule-item {
  width: 100%;
  display: block;
  position: relative;
  padding: 0 0 0 152px;
  min-height: 80px;
  @media #{$small-only} {
    padding: 0;
  }
  &:hover {
    .field-img {
      box-shadow: 0 0 20px rgba(2,2,2,.3);
    }
    .field-title {
      a {
        color: $blue;
        text-decoration: none;
        span {
          border-bottom-color: rgba($blue,0.5);
        }
      }
    }
  }
  .field-img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 136px;
    transition: all 0.1s ease 0s;
    @media #{$small-only} {
      position: relative;
      left: inherit;
      top: inherit;
      width: 100%;
    }
    @media #{$mobile-only-2} {
      max-width: 100%;
    }
    &:hover {
      box-shadow: 0 0 20px rgba(2,2,2,.3);
    }
    img {
      width: 100%;
    }
  }
  .field-title {
    min-height: 43px;
    padding-bottom: 10px;
    position: relative;
    top: -4px;
    @media #{$small-only} {
      top: 0;
      padding-top: 8px;
    }
    a {
      display: inline-block;
      color: black;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.2;
      text-decoration: none;
      transition: all 0.1s ease 0s;
      @media #{$medium-mobile} {
        font-size: 20px;
      }
      &:hover {
        color: $blue;
        text-decoration: none;
        span {
          border-bottom-color: rgba($blue,0.5);
        }
      }
      span {
        display: inline;
        border-bottom: 1px solid transparent;
      }
    }
  }
  .episodes-serial-season {
    color: rgba(#000,0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 4px;
    @media #{$medium-mobile} {
      font-size: 14px;
    }
    @media #{$small-only} {
      margin-bottom: 2px;
    }
  }
  .episodes-serial-name {
    color: rgba(#010101,0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    @media #{$medium-mobile} {
      font-size: 14px;
    }
    a {
      font-size: inherit;
      font-weight: inherit;
      line-height: 1;
      text-decoration: none;
      transition: all 0.1s ease 0s;
      &:hover {
        span {
          border-bottom-color: rgba($blue,0.5);
        }
      }
      span {
        border-bottom: 1px solid transparent;
        transition: all 0.1s ease 0s;
      }
    }
  }
}