.item-cart-collection {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 0;
  &:hover {
    .body {
      .field-img {
        &:before {
          @media only screen and (min-width: 768px) {
            background: rgba(#000,0.8);
            left: 12px;
            right: 12px;
            top: 12px;
            bottom: 12px;
          }
          @media only screen and (min-width: 768px) and (max-width: 840px) {
            left: 8px;
            right: 8px;
            top: 8px;
            bottom: 8px;
          }
        }
      }
      .info {
        .field-title {
          @media only screen and (min-width: 768px) {
            height: auto;
          }
        }
        .field-description {
          @media only screen and (min-width: 768px) {
            visibility: visible;
            opacity: 1;
            height: 100px;
          }
        }
      }
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    right: 20px;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    z-index: 0;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 10px;
    right: 10px;
    background-color: #dadada;
    border: 1px solid #c1c1c1;
    z-index: 1;
  }
  .body {
    display: block;
    position: relative;
    z-index: 4;
    width: 100%;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
      background: rgba(0,0,0,0);
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.6)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      @include center(y);
      left: -25px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #fff;
      z-index: 4;
      @media #{$small-only} {
        width: 40px;
        height: 40px;
        left: -20px;
      }
    }
    .field-img {
      position: relative;
      display: block;
      width: 100%;
      overflow: hidden;
      z-index: 2;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        //background: rgba(#000,0.3);
        transition: all 0.3s ease 0s;
        @media #{$small-only} {
          background: rgba(0,0,0,0.1);
          background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.8)));
          background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 100%);
          background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 100%);
          background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        }
      }

      img {
        width: 100%;
      }

      .img-bg {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        z-index: 1;
      }
    }
    .info {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      //padding: 46px 28px 0 50px;
      padding: 40px 28px 40px 50px;
      z-index: 5;
      @extend %vertical;
      @media only screen and (min-width: 1026px) and (max-width: 1200px) {
        padding: 25px 20px 25px 40px;
      }
      @media #{$medium-only} {
        padding: 35px 28px 38px 50px;
      }
      @media only screen and (min-width: 768px) and (max-width: 860px) {
        padding: 25px 20px 25px 40px;
      }
      @media #{$small-only} {
        //display: block;
        //top: 50%;
        //bottom: inherit;
        //transform: translateY(-50%);
        padding: 0 20px 20px 40px;
      }
      @media #{$mobile-only-2} {
        padding: 0 20px 20px 40px;
      }

      .vertical {
        display: inline-block;
        vertical-align: bottom;
        width: 100%;
        text-align: left;
      }

      .field-label {
        display: block;
        font-size: 0;
        margin-bottom: 10px;
        @media only screen and (min-width: 1026px) and (max-width: 1200px) {
          margin-bottom: 10px;
        }
        @media #{$small-only} {
          margin-bottom: 8px;
        }
        @media #{$mobile-only-2} {
          margin-bottom: 4px;
        }
        span {
          display: inline-block;
          color: white;
          font-size: 13px;
          font-weight: 400;
          height: 18px;
          line-height: 15px;
          border: 1px solid #fff;
          padding: 0 10px;
          text-transform: lowercase;
        }
      }
      .field-title {
        color: #fefefe;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        display: block;
        margin: 0 0 8px;
        width: 100%;
        max-width: 100%;
        max-height: 52px;
        overflow: hidden;

        @media only screen and (min-width: 768px) {
          height: 52px;
          transition: all 0.3s linear 0s;
        }
        @media only screen and (min-width: 768px) and (max-width: 840px) {
          height: 48px;
          font-size: 20px;
          line-height: 24px;
        }
        @media #{$small-only} {
          max-height: inherit;
          overflow: visible;
        }
        @media only screen and (min-width: 1026px) and (max-width: 1200px) {
          max-width: 100%;
          font-size: 16px;
          line-height: 20px;
          max-height: 40px;
        }
        @media #{$mobile-only-2} {
          max-width: 100%;
          font-size: 16px;
          line-height: 20px;
          max-height: 40px;
        }
      }
      .field-description {
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        display: block;
        max-height: 88px;
        overflow: hidden;
        padding-top: 8px;
        //display: none;
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: all 0.3s linear 0s;
        @media only screen and (min-width: 1026px) and (max-width: 1200px) {
          font-size: 13px;
          line-height: 16px;
          max-height: 72px;
        }
        @media only screen and (min-width: 768px) and (max-width: 890px) {
          max-height: 68px;
        }
        @media #{$small-only} {
          display: none;
        }
        //@media #{$mobile-only-2} {
        //  font-size: 13px;
        //  line-height: 16px;
        //  max-height: 48px;
        //}
      }
    }
  }
}

.touch {
  .article-news .collection-group .item-collection-cart .field-trailer .field-img {
    display: none!important;
  }
}