.item-article-cart {
  transition: all 0.1s ease 0s;
  position: relative;
  &:hover {
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
    .article-title {
      span {
        color: $blue;
        border-bottom-color: rgba($blue,0.5);
      }
    }
  }
  .article-top {
    display: block;
    width: 100%;
    position: relative;
    .img-bg {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      z-index: 1;
    }
    a {
      width: 100%;
      display: block;
      position: relative;
    }
    img {
      width: 100%;
    }
    .article-category {
      display: block;
      position: absolute;
      right: 18px;
      bottom: -10px;
      background: $blue;
      color: white;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      height: 20px;
      padding: 0 10px;
      z-index: 2;
    }
    .status-label {
      background: rgba($blue,0.6);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      padding: 6px 20px;
      z-index: 2;
      @media #{$medium-mobile} {
        font-size: 14px;
        padding: 6px 15px;
      }
      @media #{$small-only} {
        font-size: 12px;
        padding: 4px 10px;
      }
    }
  }
  .article-body {
    display: block;
    width: 100%;
    padding: 18px 17px 46px;
    min-height: 143px;
    overflow: hidden;
    position: relative;
    background: #fff;
    text-decoration: none;
    @media only screen and (min-width: 480px) and (max-width: 580px) {
      padding-bottom: 70px;
    }
  }
  .article-title {
    min-height: 68px;
    max-height: 68px;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    span {
      display: inline;
      //vertical-align: top;
      color: black;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      text-decoration: none;
      transition: all 0.1s ease 0s;
      border-bottom: 1px solid transparent;
      -webkit-text-size-adjust: none;
      @media #{$small-only} {
        font-size: 17px;
        line-height: 1.3;
        -webkit-text-size-adjust: none;
      }
      &:hover {
        color: $blue;
        border-bottom-color: rgba($blue,0.5);
      }
    }
  }
  .article-footer {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 17px;
    @extend %justify;
    .field-date {
      display: inline-block;
      vertical-align: middle;
      color: rgba(#7f7f7f,0.5);
      font-size: 13px;
      font-weight: 400;
      line-height: 1.1;
      @media only screen and (min-width: 480px) and (max-width: 580px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .field-views {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      color: rgba(#010101,0.5);
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      margin-right: 10px;
      padding-left: 28px;
      @media only screen and (min-width: 480px) and (max-width: 580px) {
        width: 100%;
        margin-bottom: 10px;
      }
      &:after {
        content: $icon-view;
        @extend .icomoon;
        color: #dfdfdf;
        font-size: 14px;
        display: block;
        position: absolute;
        @include center(y);
        left: 0;
        margin-top: -1px;
      }
    }
    .reviews-likes {
      display: inline-block;
      vertical-align: middle;
      > div {
        display: inline-block;
        vertical-align: middle;
      }
      .field-reviews {
        position: relative;
        color: rgba(#010101,0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        margin-right: 22px;
        padding-left: 24px;
        text-decoration: none;
        &:hover {
          color: $blue;
          &:after {
            color: rgba($blue,0.5);
          }
        }
        &:after {
          content: $icon-comment-1;
          @extend .icomoon;
          color: #dfdfdf;
          font-size: 17px;
          display: block;
          position: absolute;
          @include center(y);
          left: 0;
          margin-top: 1px;
        }
        &.active {
          color: $blue;
          &:after {
            content: $icon-comment-stroke-1;
            color: $blue;
          }
        }
      }
      .field-likes {
        position: relative;
        color: rgba(#010101,0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        padding-left: 22px;
        text-decoration: none;
        &:hover {
          color: $blue;
          &:after {
            color: rgba($blue,0.5);
          }
        }
        &:after {
          content: $icon-like;
          @extend .icomoon;
          color: #dfdfdf;
          font-size: 15px;
          display: block;
          position: absolute;
          @include center(y);
          left: 0;
          text-indent: 1px;
        }
        &.active {
          color: $blue;
          &:after {
            content: $icon-like-stroke;
            color: $blue;
          }
        }
      }
    }
  }
  &.preview {
    .article-top {
      .article-category {
        background: $green;
      }
    }
  }
  &.recension {
    .article-top {
      .article-category {
        background: #8e44ad;
      }
    }
  }

  &.new {
    .article-top {
      .article-category {
        background: $red;
      }
    }
  }

  &.collection {
    .article-top {
      .article-category {
        background: #43bcb7;
      }
    }
  }

}