.item-review {
  position: relative;
  background: white;
  border: 1px solid #cdcdcd;
  padding: 14px 18px 25px 15px;
  transition: all 0.6s ease 0s;
  .best-label {
    display: block;
    position: absolute;
    right: 45px;
    top: -22px;
    padding: 0 16px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    background: $blue;
    @media #{$small-only} {
      right: 24px;
    }
  }
  .review-header {
    position: relative;
    margin-bottom: 13px;
    .box-left {
      width: 100%;
      padding: 14px 50px 0 0;
      .field-user-name,
      .field-serial-title {
        font-size: 0;
        margin-bottom: 5px;
        a {
          display: inline-block;
          color: #424242;
          font-size: 16px;
          font-weight: 700;
          line-height: 18px;
          text-decoration: none;
          transition: all 0.1s ease 0s;
          &:hover {
            color: $blue;
            span {
              background-image: linear-gradient(to right, rgba($blue,0.5) 75%, rgba($blue,0.5) 75%);
            }
          }
          span {
            line-height: 20px;
            background-position: 0 17px;
            background-repeat: repeat-x;
            background-size: 1px 1px;
            background-image: linear-gradient(to right, rgba($blue,0) 75%, rgba($blue,0) 75%);
          }

        }
      }
      .field-date {
        display: block;
        position: relative;
        color: rgba(#7f7f7f,0.7);
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        padding: 0 0 0 10px;
        &:after {
          content: '';
          width: 4px;
          height: 4px;
          background-color: #ababab;
          border-radius: 50%;
          display: block;
          position: absolute;
          @include center(y);
          left: 0;
          margin-top: 1px;
        }
      }
      .field-edit {
        display: block;
        width: 100%;
        clear: both;
        line-height: 1.2;
        a {
          display: inline-block;
          color: $blue;
          font-size: 13px;
          font-weight: 400;
          line-height: 1.2;
          text-decoration: none;
          border-bottom: 1px solid transparent;
          &:hover {
            text-decoration: none;
            border-bottom-color: rgba($blue,0.5);
          }
        }
      }
    }
    .user-review-rating {
      position: absolute;
      display: block;
      width: 64px;
      top: -12px;
      right: -9px;
      > span {
        display: block;
        position: absolute;
        @include center(xy);
        color: $blue;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        padding-top: 3px;
        padding-left: 2px;
      }
    }
    .user-ratings-comment-info-rating {
      text-align: right;
      font-size: 0;
      margin: -2px 0 0;
      .rating-block {
        display: inline-block;
        > div,
        > a {
          &:not(.tooltip) {
            display: inline-block;
            position: relative;
            vertical-align: top;
            min-width: 30px;
            height: 30px;
            border: 1px solid #dadada;
            text-align: center;
            margin: 0 3px;
            padding: 0 4px;
            font-size: 14px;
            font-weight: 400;
            line-height: 28px;
            text-decoration: none;
            &.rating_up {
              color: #02ae0a;
              margin-left: 0;
              &:hover {
                &:before {
                  opacity: 1;
                }
              }
              &:before {
                content: '+';
                display: block;
                position: absolute;
                left: -1px;
                right: -1px;
                top: -1px;
                bottom: -1px;
                font-size: 24px;
                color: #fff;
                line-height: 31px;
                text-align: center;
                background: #47bd62;
                opacity: 0;
                transition: all 0.1s ease 0s;
              }
            }
            &.rating_down {
              color: #da0000;
              margin-right: 0;
              &:hover {
                &:before {
                  opacity: 1;
                }
              }
              &:before {
                content: '-';
                display: block;
                position: absolute;
                left: -1px;
                right: -1px;
                top: -1px;
                bottom: -1px;
                font-size: 24px;
                color: #fff;
                line-height: 30px;
                text-align: center;
                background: #ea3556;
                opacity: 0;
                transition: all 0.1s ease 0s;
              }
            }
          }
        }
        .tooltip {
          .tooltip-inner {
            white-space: nowrap;
          }
        }
      }
    }
  }
  .review-body {
    position: relative;
    border-top: 1px solid #dadada;
    padding: 14px 0 0;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 8px 7px;
      border-color: transparent transparent #dadada transparent;
      display: block;
      position: absolute;
      left: 28px;
      top: -8px;
      z-index: 1;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 8px 7px;
      border-color: transparent transparent #fff transparent;
      display: block;
      position: absolute;
      left: 28px;
      top: -7px;
      z-index: 2;
      transition: all 0.1s ease 0s;
    }
    p {
      color: rgba(#000,0.8);
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 0;
      @media #{$large-only} {
        font-size: 16px;
        line-height: 22px;
      }
      @media #{$small-only} {
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }
  .btn-read-more {
    font-size: 0;
    text-align: right;
    margin-bottom: 22px;
    padding-top: 10px;
    a {
      position: relative;
      display: inline-block;
      padding: 0 14px 0 0;
      color: rgba(#000,0.5);
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
      text-decoration: none;
      transition: all 0.1s ease 0s;
      &:hover {
        color: $blue;
      }
      &:after {
        content: $icon-arrow-light-right;
        @extend .icomoon;
        display: block;
        position: absolute;
        @include center(y);
        right: 0;
        font-size: 8px;
      }
    }
  }
  .field-serial-link {
    text-align: center;
    a {
      display: inline-block;
      color: $blue;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.4;
      text-decoration: none;
      &:hover {
        span {
          border-bottom-color: transparent;
        }
      }
      span {
        display: inline;
        border-bottom: 1px solid rgba($blue,0.5);
      }
    }
  }
  &.positive {
    &:hover {
      background: #ebfaef;
      .review-body {
        &:after {
          border-color: transparent transparent #ebfaef;
        }
      }
    }
    &.review-focused {
      background: #e9faed;
      border-color: #47bd62;
      box-shadow: inset 0 0 0 2px #47bd62, -1px 5px 22px 2px rgba(4, 49, 64, 0.35);
      .review-body {
        &:after {
          border-color: transparent transparent #e9faed;
        }
      }
    }
  }
  &.negative {
    &:hover {
      background: #fef3f5;
      .review-body {
        &:after {
          border-color: transparent transparent #fef3f5;
        }
      }
    }
    &.review-focused {
      background: #fff3f5;
      border-color: #e53556;
      box-shadow: inset 0 0 0 2px #e53556, -1px 5px 22px 2px rgba(4, 49, 64, 0.35);
      .review-body {
        &:after {
          border-color: transparent transparent #fff3f5;
        }
      }
    }
  }
  &.best {
    border-color: $blue;
    box-shadow: inset 0 0 0 1px $blue;
    &:hover {
      background: #eaf6fe;
      .review-body {
        &:after {
          border-color: transparent transparent #eaf6fe;
        }
      }
    }
    &.review-focused {
      background: #e6f5ff;
      box-shadow: inset 0 0 0 2px $blue;
      .review-body {
        &:after {
          border-color: transparent transparent #e6f5ff;
        }
      }
    }
  }
  &.review-focused {
    background: #ffffff;
    border-color: #818181;
    box-shadow: inset 0 0 0 2px #818181, -1px 5px 22px 2px rgba(4, 49, 64, 0.35);
    .review-body {
      &:after {
        border-color: transparent transparent #ffffff;
      }
    }
  }

  &.theme-1 {
    padding: 21px 45px 22px 30px;
    @media #{$medium-mobile} {
      padding: 21px 25px 22px 25px;
    }
    &:hover {
      box-shadow: 0 0 20px rgba(2,2,2,.2);
    }
    .review-header {
      .box-left {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 14px 140px 14px 0;
        @media only screen and (max-width: 400px) {
          padding: 14px 50px 5px 0;
        }
        .field-user-name {
          display: block;
          float: left;
          margin: 0 9px 0 0;
          @media #{$medium-only} {
            width: 100%;
          }
          @media only screen and (max-width: 400px) {
            width: 100%;
          }
        }
        .field-date {
          display: block;
          float: left;
          line-height: 18px;
        }
      }
      .user-ratings-comment-info-rating {
        @media only screen and (min-width: 400px) {
          display: block;
          position: absolute;
          right: 60px;
          top: 7px;
          margin: 0;
        }
      }
      .user-review-rating {
        width: 64px;
        height: 64px;
      }
    }
    .review-body {
      padding: 10px 0 0;
      p {
        max-height: 174px;
        min-height: 174px;
        overflow: hidden;
        @media #{$medium-mobile} {
          font-size: 16px;
          line-height: 26px;
          max-height: 222px;
          min-height: 222px;
        }
      }
    }
    .btn-read-more {
      margin-bottom: 0;
      padding-top: 5px;
      min-height: 18px;
      @media #{$medium-mobile} {
        padding-top: 15px;
        min-height: 28px;
      }
    }
  }
  &.best {
    &:hover {
      border-color: $blue;
      box-shadow: inset 0 0 0 1px $blue, 0 0 20px rgba(2,2,2,.2);
    }
  }
  &.theme-2 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    //padding: 21px 37px 25px 30px;
    padding: 21px 37px 39px 30px;
    @media #{$medium-mobile} {
      padding: 21px 25px 21px 25px;
    }
    @media #{$small-only} {
      padding: 15px 13px 21px;
    }
    &:hover {
      box-shadow: none;
    }
    .review-header {
      .box-left {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 14px 140px 14px 0;
        @media only screen and (max-width: 480px) {
          padding: 14px 50px 5px 0;
        }
        .field-user-name {
          display: block;
          float: left;
          margin: 0 9px 0 0;
          @media only screen and (max-width: 480px) {
            width: 100%;
          }
        }
        .field-date {
          display: block;
          float: left;
          line-height: 18px;
        }
        .field-edit {
          @media only screen and (max-width: 480px) {
            display: block;
            position: absolute;
            left: 0;
            bottom: 6px;
          }
        }
      }
      .user-ratings-comment-info-rating {
        @media only screen and (min-width: 480px) {
          display: block;
          position: absolute;
          right: 60px;
          top: 7px;
          margin: 0;
        }
      }
      .user-review-rating {
        width: 64px;
        height: 64px;
      }
    }
    .review-body {
      padding: 10px 0 0;
      p {
        @media #{$medium-mobile} {
          font-size: 16px;
          line-height: 26px;
        }
        @media #{$small-only} {
          font-size: 16px;
          line-height: 1.4;
        }
      }
    }
    .btn-read-more {
      margin-bottom: 0;
      padding-top: 5px;
      @media #{$medium-mobile} {
        padding-top: 15px;
      }
    }
    .field-social {
      padding: 21px 0 0;
      .social-links {
        display: block;
        margin: 0 auto;
        padding: 11px 0 0;
        width: 100%;
        max-width: 362px;
        text-align: center;
        border-top: 1px solid #818181;
        font-size: 0;
        li {
          display: inline-block;
          vertical-align: top;
          padding: 0 6px;
          a {
            display: block;
            width: 30px;
            height: 30px;
            border: 1px solid #818181;
            transition: all 0.1s ease 0s;
            @extend %vertical;
            &:hover {
              span {
                color: #fff!important;
              }
            }
            span {
              display: inline-block;
              vertical-align: middle;
              font-size: 12px;
              color: #818181;
            }
            &.tw {
              &:hover {
                border-color: $twitter_color;
                background: $twitter_color;
              }
            }
            &.vk {
              &:hover {
                border-color: $vk_color;
                background: $vk_color;
              }
            }
            &.fb {
              &:hover {
                border-color: $facebook_color;
                background: $facebook_color;
              }
            }
            &.od {
              &:hover {
                border-color: $odnoklassniki;
                background: $odnoklassniki;
              }
            }
          }
        }
      }
    }
    &.positive {
      background: #ebfaef;
      .review-body {
        &:after {
          border-color: transparent transparent #ebfaef;
        }
      }
      .field-social {
        .social-links {
          border-top-color: #47bd62;
          li {
            a {
              border-color: #47bd62;
              span {
                color: #47bd62;
              }
            }
          }
        }
      }
      &.review-focused {
        background: #e9faed;
        border-color: #47bd62;
        box-shadow: inset 0 0 0 2px #47bd62, -1px 5px 22px 2px rgba(4, 49, 64, 0.35);
        .review-body {
          &:after {
            border-color: transparent transparent #e9faed;
          }
        }
      }
    }
    &.negative {
      background: #fef3f5;
      .review-body {
        &:after {
          border-color: transparent transparent #fef3f5;
        }
      }
      .field-social {
        .social-links {
          border-top-color: #ea3556;
          li {
            a {
              border-color: #ea3556;
              span {
                color: #ea3556;
              }
            }
          }
        }
      }
      &.review-focused {
        background: #fff3f5;
        border-color: #e53556;
        box-shadow: inset 0 0 0 2px #e53556, -1px 5px 22px 2px rgba(4, 49, 64, 0.35);
        .review-body {
          &:after {
            border-color: transparent transparent #fff3f5;
          }
        }
      }
    }
    &.best {
      border-color: $blue;
      box-shadow: inset 0 0 0 1px $blue;
      background: #eaf6fe;
      margin-top: 21px;
      .review-body {
        &:after {
          border-color: transparent transparent #eaf6fe;
        }
      }
      .field-social {
        .social-links {
          border-top-color: #0083da;
          li {
            a {
              border-color: #0083da;
              span {
                color: #0083da;
              }
            }
          }
        }
      }
      &.review-focused {
        background: #e6f5ff;
        border-color: $blue;
        box-shadow: inset 0 0 0 2px $blue, -1px 5px 22px 2px rgba(4, 49, 64, 0.35);
        .review-body {
          &:after {
            border-color: transparent transparent #e6f5ff;
          }
        }
      }
    }

    &.review-focused {
      background: #ffffff;
      border-color: #818181;
      box-shadow: inset 0 0 0 2px #818181, -1px 5px 22px 2px rgba(4, 49, 64, 0.35);
      .review-body {
        &:after {
          border-color: transparent transparent #ffffff;
        }
      }
    }
  }
  &.with-poster {
    min-height: 240px;
    padding-left: 172px;
    @media #{$mobile-only} {
      min-height: initial;
      padding: 20px 15px 20px;
    }
    .field-poster {
      display: block;
      position: absolute;
      left: 18px;
      top: 21px;
      width: 131px;
      @media #{$mobile-only} {
        display: none;
      }
      a {
        display: block;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    &.theme-1 {
      .review-header {
        .box-left {
          font-size: 0;
          text-align: left;
          .field-serial-title {
            display: inline-block;
            margin-right: 6px;
          }
          .field-date {
            display: inline-block;
            float: none;
          }
        }
      }
      .review-body {
        p {
          max-height: inherit;
          min-height: inherit;
          overflow: visible;
        }
      }
    }
    &.best {
      box-shadow: none;
      border: 1px solid #cdcdcd;
    }
  }
}