.item-search-serial {
  display: inline-block;
  width: 100%;
  max-width: 908px;
  vertical-align: top;
  padding: 20px 0;
  position: relative;
  .field-img {
    display: block;
    float: left;
    width: 146px;
    @media #{$mobile-only-2} {
      display: none;
    }
    a {
      display: block;
      width: 100%;
      position: relative;
      img {
        width: 100%;
      }

    }
  }
  .serial-info {
    margin-left: 146px;
    padding-left: 18px;
    @media #{$medium-mobile} {
      padding-left: 20px;
    }
    @media #{$mobile-only-2} {
      margin-left: 0;
      padding-left: 0;
    }
    h2 {
      color: #010101;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: none;
      letter-spacing: 0;
      margin-top: 0;
      margin-bottom: 2px;
      @media #{$small-only} {
        font-size: 20px;
      }
      a {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-decoration: none;
        transition: all 0.1s ease 0s;
        &:hover {
          color: $blue;
        }
      }
    }
    .field-original-title {
      color: rgba(#000,0.5);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.1;
      margin-bottom: 15px;
    }
    .field-likes {
      position: relative;
      color: rgba(#010101,0.5);
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      padding-left: 25px;
      margin: 0 0 8px;
      text-decoration: none;
      transition: all 0.1s ease 0s;
      &:hover {
        color: $blue;
        &:after {
          color: rgba($blue,0.5);
        }
      }
      &:after {
        content: $icon-like;
        @extend .icomoon;
        color: #dfdfdf;
        font-size: 15px;
        display: block;
        position: absolute;
        @include center(y);
        left: 0;
        text-indent: 1px;
      }
      &.active {
        color: $blue;
        &:after {
          content: $icon-like-stroke;
          color: $blue;
        }
      }
    }
    .textailor {
      color: rgba(#000,0.8);
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 25px;
      overflow: hidden;
      height: 88px;
      @media #{$small-only} {
        font-size: 14px;
        line-height: 18px;
        height: 72px;
        margin-bottom: 15px;
      }
    }
    .action-links {
      @extend %justify;
      > div {
        display: inline-block;
        vertical-align: middle;
      }
      .btn {
        @media #{$small-only} {
          min-width: 100px;
        }
      }
      .btn-detail {
        display: inline-block;
        position: relative;
        color: rgba(#000,0.5);
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2;
        padding: 0 14px 0 0;
        text-decoration: none;
        transition: all 0.1s ease 0s;
        &:hover {
          text-decoration: none;
          color: $blue;
        }
        [class*=" icon-"], [class^=icon-] {
          display: block;
          position: absolute;
          @include center(y);
          right: 0;
          font-size: 8px;
        }
      }
    }
  }
  .serial-rating {
    width: 240px;
  }
}