
.modal {
  &.modal-login {
    @media #{$small-only} {
      padding: 0 0!important;
    }
    .close {
      @media #{$small-only} {
        right: 6px;
        top: 20px;
      }
    }
    .modal-dialog {
      max-width: 752px;
      @media #{$small-only} {
        max-width: 100%;
        margin: 0 auto;
      }
      .modal-content {
        padding: 39px 28px 40px;
        @media #{$small-only} {
          padding: 20px 0 30px;
        }
        .modal-header {

        }
        .modal-body {
          padding: 0 0 0;
        }
      }
    }
  }
  &.modal-message {
    .modal-dialog {
      max-width: 402px;
      .modal-content {
        padding: 49px 18px 45px;
        @media #{$small-only} {
          padding: 40px 10px 30px;
        }
        .modal-body {
          padding: 10px 19px 0;
          @media #{$small-only} {
            padding: 20px 0 0;
          }
        }
      }
    }
  }
  &.modal-email {
    .modal-dialog {
      max-width: 658px;
      @media #{$small-only} {
        max-width: 480px;
      }
      .modal-content {
        padding: 52px 30px 60px;
        @media #{$small-only} {
          padding: 36px 30px 40px;
        }
        @media only screen and (max-width: 420px) {
          padding: 36px 20px 40px;
        }
        .modal-header {
          .modal-title {
            color: rgba(#010101,0.9);
            font-size: 27px;
            font-weight: 700;
            line-height: 34px;
            margin: 0 0 0;
            @media #{$small-only} {
              font-size: 18px;
              line-height: 1.2;
            }
            br {
              @media only screen and (max-width: 400px) {
                display: none;
              }
            }
          }
        }
        .modal-body {
          padding: 30px 0 0;
          @media #{$small-only} {
            padding-top: 25px;
          }
          form {
            width: 100%;
            max-width: 488px;
            margin: 0 auto;
            input[type="text"],
            input[type="tel"],
            input[type="email"],
            input[type="password"],
            input[type="search"],
            input[type="url"],
            textarea {
              padding: 0 15px;
              &::-webkit-input-placeholder {
                color: rgba(#000, 0.4);
              }
              &::-moz-placeholder {
                color: rgba(#000, 0.4);
              }
              &:-ms-input-placeholder {
                color: rgba(#000, 0.4);
              }
              &:-moz-placeholder {
                color: rgba(#000, 0.4);
              }
              &:focus {
                &::-webkit-input-placeholder {
                  color: transparent;
                }
                &::-moz-placeholder {
                  color: transparent;
                }
                &:-ms-input-placeholder {
                  color: transparent;
                }
                &:-moz-placeholder {
                  color: transparent;
                }
              }
            }
            .form-group {
              @media #{$small-only} {
                margin-bottom: 20px;
              }
              &.form-footer {
                @media #{$small-only} {
                  margin-bottom: 0;
                }
                .btn {
                  min-width: 220px;
                  @media only screen and (max-width: 400px) {
                    width: 100%;
                  }
                }
              }
            }

          }
        }
      }
    }
  }
  &.modal-share-comment {
    .modal-dialog {
      max-width: 552px;
      .modal-content {
        padding: 54px 48px 54px;
        @media #{$small-only} {
          padding: 40px 20px 40px;
        }
        .modal-header {
          border-bottom: 1px solid #0083da;
          padding: 0 0 32px;
          @media #{$small-only} {
            padding: 0 0 20px;
          }
        }
        .modal-body {
          padding: 0 0 0;
        }
      }
    }
  }
}

.block-capabilities {
  position: relative;
  padding: 3px 20px 0 28px;
  @media #{$small-only} {
    padding: 25px 0 0;
    margin: 27px 0 0;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(#e2e2e2,0.5);
    @media #{$small-only} {
      width: 100%;
      height: 1px;
      left: 0;
      top: 0;
      bottom: inherit;
    }
  }
  .title {
    color: $blue;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px;
  }
  .links {
    li {
      display: block;
      margin: 0 0 15px;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 0 0 0 30px;
        margin: 0 0;
        color: $blue;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-decoration: none;
        @media #{$small-only} {
          padding-left: 36px;
        }
        [class*=" icon-"], [class^=icon-] {
          display: block;
          position: absolute;
          left: 0;
          top: 3px;
          font-size: 15px;
          color: rgba($blue,0.4);
          @media #{$small-only} {
            width: 28px;
            text-align: center;
          }
        }
      }
    }
  }
}

.block-login-social {
  margin-bottom: 7px;
  .label {
    color: rgba(#010101,0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 6px;
  }
  .login-social-links {
    text-align: left;
    font-size: 0;
    margin: 0 -10px;
    li {
      display: inline-block;
      vertical-align: top;
      padding: 0 10px 10px;
      width: 50%;
      a.soc {
        display: inline-block;
        position: relative;
        height: 40px;
        padding: 0 10px 0 44px;
        @extend %vertical;
        transition: all 0.1s ease 0s;
        width: 100%;
        > span {
          display: inline-block;
          vertical-align: middle;
          color: white;
          font-size: 16px;
          font-weight: 700;
        }
        &:before {
          content: '';
          @extend .icomoon;
          width: 38px;
          height: 26px;
          border-right: 1px solid rgba(#000,0.15);
          text-align: center;
          line-height: 26px;
          display: block;
          position: absolute;
          left: 2px;
          top: 7px;
          font-size: 20px;
          color: #fff;
        }
        &.vk {
          background: $vk_color;
          &:hover {
            background: #3a5678;
          }
          &:before {
            content: $icon-vk;
          }
        }
        &.fb {
          background: $facebook_color;
          &:hover {
            background: #324b81;
          }
          &:before {
            content: $icon-facebook;
          }
        }
        &.od {
          background: $odnoklassniki;
          &:hover {
            background: #c96d24;
          }
          &:before {
            content: $icon-odnoklassniki;
          }
        }
      }
      .add_social {
        display: inline-block;
        position: relative;
        height: 40px;
        padding: 0 52px 0 16px;
        background: #cdcdcd;
        @extend %vertical;
        transition: all 0.1s ease 0s;
        &:hover {
          background: #b8b8b8;
        }
        > span {
          display: inline-block;
          vertical-align: middle;
          color: rgba(#010101,0.7);
          font-size: 16px;
          font-weight: 700;
        }
        &:before {
          content: $icon-add;
          @extend .icomoon;
          width: 38px;
          height: 32px;
          border-left: 1px solid rgba(#000,0.1);
          text-align: center;
          line-height: 32px;
          display: block;
          position: absolute;
          right: 2px;
          top: 4px;
          font-size: 18px;
          color: #5c5c5c;
        }
      }
    }
  }
}

.modal-login {
  .box-tabs {
    max-width: 300px;
    min-height: 315px;
    width: 100%;
    @media #{$small-only} {
      min-height: inherit;
      max-width: 100%;
    }
    .tab-content {
      .tab-pane {
        .tab-wrapper {

        }
      }
    }
  }
  .tab-title {
    color: #010101;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 12px;
    @media #{$small-only} {
      text-align: left;
      padding: 0 10px;
      margin-bottom: 14px;
    }
  }

  form {
    label, .label {
      color: rgba(#010101,0.6);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 7px;
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="url"],
    textarea {
      padding: 0 15px;
      &::-webkit-input-placeholder {
        color: rgba(#000, 0.4);
      }
      &::-moz-placeholder {
        color: rgba(#000, 0.4);
      }
      &:-ms-input-placeholder {
        color: rgba(#000, 0.4);
      }
      &:-moz-placeholder {
        color: rgba(#000, 0.4);
      }
      &:focus {
        &::-webkit-input-placeholder {
          color: transparent;
        }
        &::-moz-placeholder {
          color: transparent;
        }
        &:-ms-input-placeholder {
          color: transparent;
        }
        &:-moz-placeholder {
          color: transparent;
        }
      }
    }
    .form-group {
      .form-field {
        margin-bottom: 11px;
        &.pass {
          position: relative;
          input[type="password"] {
            padding-right: 114px;
          }
          .link-forgot-pass {
            display: block;
            position: absolute;
            @include center(y);
            right: 0;
            padding: 0 12px 0 0;
            a {
              color: $blue;
              font-size: 13px;
              font-weight: 400;
              line-height: 1.2;
              text-decoration: none;
              &:hover {
                span {
                  &:before {
                    width: 100%;
                  }
                }
              }
              span {
                position: relative;
                padding-bottom: 1px;
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 0;
                  height: 1px;
                  background: rgba($blue,0.5);
                  transition: all 0.2s ease 0s;
                }
              }
            }
          }
        }
      }
      &.form-footer {
        .fields-footer {
          font-size: 0;
          @extend %justify;
          .field-link {
            display: inline-block;
            vertical-align: middle;
            a {
              color: $blue;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.2;
              text-decoration: none;
              &:hover {
                span {
                  &:before {
                    width: 100%;
                  }
                }
              }
              span {
                position: relative;
                padding-bottom: 1px;
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 0;
                  height: 1px;
                  background: rgba($blue,0.5);
                  transition: all 0.2s ease 0s;
                }
              }
            }
          }
          .field-submit {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            max-width: 124px;
            .btn {
              width: 100%;
              min-width: inherit;
            }
          }
        }
        .field-terms {
          text-align: center;
          padding: 22px 0 0;
          a {
            display: inline-block;
            color: $blue;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.2;
            text-decoration: none;
            &:hover {
              span {
                &:before {
                  width: 100%;
                }
              }
            }
            span {
              position: relative;
              padding-bottom: 1px;
              &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: rgba($blue,0.5);
                transition: all 0.2s ease 0s;
              }
            }
          }
        }
      }
    }
    &.form-login {
      .form-group {
        &.form-footer {
          padding-top: 4px!important;
          .fields-footer {
            font-size: 0;
            @extend %justify;
            .field-submit {
              display: inline-block;
              vertical-align: middle;
              width: 100%;
              max-width: 124px;
              .btn {
                width: 100%;
                min-width: inherit;
              }
            }
          }
        }
      }
    }

    &.form-forgot {
      padding: 6px 0 0;
      label, .label {
        margin-bottom: 9px;
      }
      .form-group {
        &.form-footer {
          padding-top: 4px!important;
          .fields-footer {
            font-size: 0;
            @extend %justify;
            .field-submit {
              display: inline-block;
              vertical-align: middle;
              width: 100%;
              max-width: 172px;
              .btn {
                width: 100%;
                min-width: inherit;
              }
            }
          }
        }
      }
    }
    &.form-registration {
      padding: 5px 0 0;
      .form-group {
        margin-bottom: 12px;
        .form-field {
          margin-bottom: 25px;
          @media #{$small-only} {
            margin-bottom: 11px;
          }
          > input {
            margin: 0 auto;
            max-width: 302px;
            display: block;
            @media #{$small-only} {
              max-width: 100%;
            }
          }
          &.field-captcha {
            margin-top: -13px;
            @media #{$small-only} {
              margin-top: 0;
            }
            > div {
              margin: 0 auto;
              max-width: 302px;
              padding-left: 0;
            }
          }
        }
        &.form-footer {
          padding-top: 7px!important;
          margin-bottom: 0;
          .field-submit {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            .btn {
              width: 100%;
              max-width: 298px;
              min-width: inherit;
            }
          }
          .field-description {
            color: #8d8d8d;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            margin-bottom: 29px;
          }
          .field-info {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #8d8d8d;
            margin-bottom: 17px;
            a {
              font-size: inherit;
              font-weight: inherit;
              color: $blue;
              text-decoration: none;
              &:hover {
                span {
                  &:before {
                    width: 100%;
                  }
                }
              }
              span {
                position: relative;
                padding-bottom: 1px;
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 0;
                  height: 1px;
                  background: rgba($blue,0.5);
                  transition: all 0.2s ease 0s;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-message {
  .block-message {
    .description {
      color: rgba(#010101,0.6);
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      margin-bottom: 28px;
      @media #{$small-only} {
        margin-bottom: 20px;
      }
    }
    .block-login-social {
      &.single {
        .login-social-links {
          margin: 0 0;
          text-align: center;
          li {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            max-width: 162px;
            padding: 0 0;
          }
        }
      }
    }
  }
}

.modal-share-comment {

  .title {
    color: rgba(#000,0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0 0 14px;
    @media #{$small-only} {
      font-size: 15px;
    }
  }

  .field-social {
    padding: 13px 0 0;
    @media #{$small-only} {
      padding-top: 16px;
    }
    .social-links {
      display: block;
      margin: 0 auto;
      padding: 0 0;
      width: 100%;
      text-align: center;
      font-size: 0;
      li {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        a {
          display: block;
          width: 40px;
          height: 40px;
          border: 2px solid #0083da;
          transition: all 0.1s ease 0s;
          @extend %vertical;
          &:hover {
            span {
              color: #fff!important;
            }
          }
          span {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            color: #0083da;
          }
          &.tw {
            &:hover {
              border-color: $twitter_color;
              background: $twitter_color;
            }
          }
          &.vk {
            &:hover {
              border-color: $vk_color;
              background: $vk_color;
            }
          }
          &.fb {
            &:hover {
              border-color: $facebook_color;
              background: $facebook_color;
            }
          }
          &.od {
            &:hover {
              border-color: $odnoklassniki;
              background: $odnoklassniki;
            }
          }
        }
      }
    }
  }
}