#modal-not-login {

  .modal-dialog {
    margin: 160px auto 100px;
    .modal-content {
      padding: 40px 48px;
      .modal-body {
        padding-top: 0;
      }
    }
  }
}

.not-login {
  text-align: center;
  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
  }
}

.modal-open {
  header {
    z-index: 1025;
  }
}

