.block-front-news {
  padding: 0 0 33px;
  @media #{$small-only} {
    padding-bottom: 38px;
  }
  .block-header {
    @extend %justify;
    margin-bottom: 24px;
    position: relative;
    z-index: 3;
    @media #{$small-only} {
      margin-bottom: 25px;
    }
    .block-title {
      display: inline-block;
      vertical-align: top;
      font-size: 33px;
      margin: 0 0;
      @media #{$medium-mobile} {
        display: block;
        width: 100%;
        font-size: 26px;
        margin-bottom: 15px;
      }
      @media #{$small-only} {
        font-size: 24px;
      }
    }
    .box-filter {
      display: inline-block;
      vertical-align: top;
      padding-left: 47px;
      @media only screen and (min-width: 1026px) and (max-width: 1200px) {
        padding-left: 0;
      }
      @media #{$medium-mobile} {
        padding-left: 0;
      }
      @media #{$small-only} {
        display: none;
      }
      > .cuSelect {
        width: 174px;
        display: inline-block;
        vertical-align: top;
        @media only screen and (min-width: 1026px) and (max-width: 1200px) {
          width: 155px;
        }
        @media #{$medium-mobile} {
          width: 200px;
        }
        &.serials {
          width: 155px;
          margin-right: 58px;
          @media only screen and (min-width: 1026px) and (max-width: 1200px) {
            width: 150px;
            margin-right: 20px;
          }
          @media #{$medium-mobile} {
            margin-right: 28px;
            width: 200px;
          }
        }
      }
    }
    .nav-tabs {
      display: inline-block;
      @media #{$small-only} {
        width: 100%;
      }
      li {
        &:first-child {
          @media #{$small-only} {
            width: 50%;
          }
        }
        &:last-child {
          @media #{$small-only} {
            width: 50%;
          }
        }
      }
    }
  }
  .articles-list,
  .articles-small-list {
    @media #{$small-only} {
      margin: 0 -8px;
    }
    li {
      @media only screen and (min-width: 768px) and (max-width: 840px) {
        width: 50%;
      }
      @media #{$small-only} {
        padding: 0 8px 16px;
      }
      &:nth-of-type(3n+1) {
        @media only screen and (min-width: 768px) and (max-width: 840px) {
          clear: none;
        }
      }
      &:nth-of-type(2n+1) {
        @media only screen and (min-width: 768px) and (max-width: 840px) {
          clear: both;
        }
      }
    }
  }
  .articles-list {
    li {
      @media #{$small-mobile} {
        width: 100%;
      }
    }
  }
  .articles-small-list {
    li {
      @media #{$mobile-only-1} {
        width: 100%;
      }
    }
  }
  .btn-load-more {
    text-align: center;
    padding: 7px 0 0;
    @media #{$small-only} {
      padding-top: 9px;
    }
    .btn {
      min-width: 290px;
      @media #{$small-only} {
        min-width: inherit;
        max-width: 300px;
        width: 100%;
      }
    }
  }
}