.block-serial-recension {
  background: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 -20px 0 -30px;
  padding: 33px 20px 36px 30px;
  @media #{$small-only} {
    padding: 40px 10px 45px 10px;
    margin: 0 -10px;
  }
  .block-header {
    position: relative;
    margin-bottom: 14px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    @extend %justify;
    @media #{$small-only} {
      margin-bottom: 22px;
    }
    .block-title {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0;
      font-size: 33px;
      @media #{$medium-mobile} {
        font-size: 26px;
      }
      @media #{$small-only} {
        font-size: 24px;
      }
    }
    .view-all {
      display: inline-block;
      vertical-align: middle;
      a {
        position: relative;
        padding: 0 0 0 46px;
        color: #0083da;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none;
        &:hover {
          .text {
            border-bottom-color: rgba($blue,0.5);
          }
        }
        .icon-all-review {
          display: block;
          position: absolute;
          @include center(y);
          left: 0;
          font-size: 35px;
          margin-top: -3px;
        }
        .text {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  .recension-list {
    margin: 0 -10px;
    li {
      padding: 0 10px 20px;
    }
  }
  .recension-mobile-slider {
    &.slick-initialized {
      .item {
        padding: 0 0;
        &.slick-current {
          .item-recension {
            opacity: 1;
            transform: scale(1);
            .recension-header .field-rating {
              opacity: 1;
            }
          }
        }
        .item-recension {
          //min-width: 260px;
          transform: scale(0.9);
          opacity: 0.5;
          transition: all 0.1s linear 0s;
          .recension-header .field-rating {
            opacity: 0;
            transition: all 0.1s linear 0s;
          }
        }
      }
    }
  }
}