.block-small-news {
  .block-title {
    margin-bottom: 18px;
  }
  .small-news-list {
    li {
      padding: 0 0 20px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &.theme-1 {
    padding-bottom: 28px;
    .block-title {
      margin-bottom: 16px;
    }
    .small-news-item {
      min-height: 105px;
      @media only screen and (max-width: 1300px) {
        min-height: 80px;
      }
      .field-img {
        width: 105px;
        @media only screen and (max-width: 1300px) {
          width: 80px;
        }
      }
    }
  }
}

.small-news-item {
  padding: 0 0 0 124px;
  position: relative;
  min-height: 105px;
  display: block;
  width: 100%;
  text-decoration: none;
  @media #{$large-mobile} {
    min-height: 80px;
    padding-left: 95px;
  }
  &:hover {
    .field-img {
      box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
    }
    .field-title {
      span {
        color: $blue;
        border-bottom-color: rgba($blue,0.5);
      }
    }
  }
  .field-img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 105px;
    transition: all 0.1s ease 0s;
    @media #{$large-mobile} {
      width: 80px;
    }
    img {
      width: 100%;
    }
    .img-bg {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
    }
  }
  .field-category {
    display: block;
    font-size: 0;
    margin-bottom: 8px;
    span {
      display: inline-block;
      height: 14px;
      background-color: $blue;
      color: white;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      padding: 0 3px;
      text-transform: lowercase;
    }
  }
  .field-title {
    display: block;
    max-height: 74px;
    overflow: hidden;
    line-height: 1.3;
    padding-bottom: 1px;
    @media #{$large-mobile} {
      max-height: 58px;
    }
    span {
      display: inline;
      color: black;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all 0.1s ease 0s;
      @media #{$large-mobile} {
        font-size: 13px;
        line-height: 14px;
      }
      &:hover {
        color: $blue;
      }
    }
  }

  &.preview {
    .field-category {
      span {
        background: $green;
      }
    }
  }
  &.recension {
    .field-category {
      span {
        background: #8e44ad;
      }
    }
  }
  &.new {
    .field-category {
      span {
        background: $red;
      }
    }
  }

  &.collection {
    .field-category {
      span {
        background: #43bcb7;
      }
    }
  }
}