.block-most-anticipated {
  padding: 25px 0 40px;
  @media #{$medium-mobile} {
    display: none;
  }
  .block-title {
    margin-bottom: 19px;
  }
  .most-anticipated-slider {
    &:not(.slick-initialized) {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      .item {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        white-space: normal;
      }
    }
    .item {
      a {
        display: block;
        width: 100%;
        position: relative;
        img {
          width: 100%;
        }
        .img-bg {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-size: cover;
          background-position: center;
          z-index: 1;
        }
      }
    }
  }
}