.block-front-reviews-slider,
.block-serial-reviews-slider {
  .front-reviews-slider {
    @media #{$small-only} {
      margin: 0 -10px;
    }
    &:not(.slick-initialized) {
      overflow: hidden;
      white-space: nowrap;
      .item {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        white-space: normal;
        @media #{$small-only} {
          padding: 0 10px 0;
        }
      }
    }
    .slick-arrow {
      width: 30px;
      height: 30px;
      transform: translateY(0);
      > span {
        font-size: 10px;
      }
      &.slick-prev {
        @media only screen and (min-width: 1025px) {
          right: -30px;
          top: 0;
          left: inherit;
          span {
            text-indent: -1px;
          }
        }
        @media #{$medium-mobile} {
          left: -10px;
        }
        @media #{$small-only} {
          left: 0;
        }
      }
      &.slick-next {
        @media only screen and (min-width: 1025px) {
          right: -30px;
          top: 32px;
        }
        @media #{$medium-mobile} {
          right: -10px;
        }
        @media #{$small-only} {
          right: 0;
        }
      }
    }
    .item {
      @media #{$small-only} {
        padding: 0 10px;
      }
      .item-review {
        @media #{$medium-mobile} {
          padding: 14px 25px 25px 25px;
        }
        @media only screen and (min-width: 400px) and (max-width: 1025px) {
          padding-top: 20px;
        }
        .review-header {
          @media only screen and (min-width: 400px) and (max-width: 1025px) {
            margin-bottom: 20px;
          }
          .box-left {
            @media only screen and (min-width: 400px) and (max-width: 1025px) {
              padding: 0 140px 0 0;
            }
          }
          .user-ratings-comment-info-rating {
            @media only screen and (min-width: 400px) and (max-width: 1025px) {
              display: block;
              position: absolute;
              right: 60px;
              top: 7px;
              margin: 0 0;
            }
          }
        }
      }
    }
  }

  .empty-reviews {
    color: rgba(#000,0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}

.block-serial-reviews-slider {
  .item-review {
    .btn-read-more {
      margin-bottom: 0;
    }
  }
}
